﻿@model Common.Error.ErrorModel
@inject RentalHousing.WEB.Resources.SharedViewLocalizer Localizer
@{
    Layout = "_LayoutHome";
    ViewData["Title"] = Localizer["Error"];
}

<div class="full_width Travelite_error_bg">
    <div class="container">
        <div class="row">
            <div class="main_center_error_wrap">
                <div class="Travelite_error_heading">
                    <h3>@Localizer["ThereWasAnError"]</h3>
                    <p>@Localizer[Model.Message]</p>
                </div>
                <div class="error_text_with_icon">
                    <ul>
                        <li class="vehicle_img">
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="215.597px" height="170.363px" viewBox="0 0 215.597 170.363" enable-background="new 0 0 215.597 170.363" xml:space="preserve"><path fill="#86B817" d="M207.496,67.872V39.401h-16.249L168.41,0H75.331l-21.9,37.831L11.648,7.203l-3.994,5.451L44.15,39.401H6.271v28.471H0v13.489h6.28v10.41h39.056v-3.375c0-7.272,5.931-13.2,13.216-13.2c7.275,0,13.196,5.928,13.196,13.2v3.375h16.444v5.389h9.484v66.459H77.166v6.744h61.255v-6.744h-20.51V97.16h9.478v-5.389h12.43c1.613,9.393,9.741,16.572,19.581,16.572c9.854,0,18.008-7.18,19.615-16.572h28.468v-10.41h8.114V67.872H207.496z M159.413,101.6c-7.271,0-13.186-5.916-13.186-13.203c0-7.272,5.914-13.2,13.186-13.2c7.285,0,13.213,5.928,13.213,13.2C172.626,95.684,166.698,101.6,159.413,101.6z M200.751,85.024h-21.723c-1.607-9.396-9.762-16.573-19.615-16.573c-9.84,0-17.969,7.177-19.582,16.573H78.21c-1.604-9.403-9.811-16.573-19.658-16.573c-9.857,0-18.077,7.17-19.674,16.573H13.024V46.146h43.387l22.82-39.401h85.307l22.829,39.401h13.39v38.878H200.751z M117.798,15.195h38.242v30.694h-38.242V15.195z M162.785,20.577l14.663,25.306h-14.663V20.577z M84.085,15.195h26.965v30.694H66.294L84.085,15.195z M50.618,105.406c-11.013,0-19.964,8.944-19.964,19.944c0,5.968,2.697,11.276,6.886,14.938h-5.483v13.489h37.129v-13.489h-5.483c4.176-3.662,6.886-8.971,6.886-14.938C70.563,114.351,61.618,105.406,50.618,105.406z M50.618,138.537c-7.285,0-13.22-5.915-13.22-13.187c0-7.285,5.935-13.2,13.22-13.2c7.271,0,13.193,5.915,13.193,13.2C63.818,132.622,57.903,138.537,50.618,138.537z M32.057,156.874h37.129v13.489H32.057V156.874z" /></svg>
                        </li>
                    </ul>
                </div>
                <div class="error_next_prev_links">
                    <a href="/Home/Index" class="home_page"> @Localizer["Home"]</a>
                </div>
            </div>
        </div>
    </div>
</div>