@model RentalHousing.WEB.Models.Booking.BookingIndexViewModel
@inject RentalHousing.WEB.Resources.SharedViewLocalizer Localizer

<style>
    .popup_inner label:before {
        content: unset !important;
    }
</style>

<div class="col-lg-12 col-md-12 col-sm-12" style="box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, 0.16); background-color:white">
    <div class="login_heading">
        @Localizer["AddComment"]
    </div>
    <div class="popup_inner" style="padding-bottom: 0px;">
        @using (Html.BeginForm("Create", "Comment", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.Hidden("Evaluation", "", new { Id = "Rating" })
            @Html.HiddenFor(model => model.HousingId)
            @Html.Hidden("BookingId", Model.Id)

            @Html.Label("", Localizer["EvaluateHousing"], new { style = "padding-left: unset;" })
            <div>
                <span class="rating">
                    @for (int i = 1; i <= 5; i++)
                    {
                        <span data-value="@(6 - i)" class="star"></span>
                    }
                </span>
            </div>
            <hr />
            @Html.TextArea("Comment", "", 10, 0, new { @class = "text_area_c", placeholder = Localizer["Comment350characters"]})
            <div class="ln_solid"></div>

            <div class="form-button">
                <input type="submit" value="@Localizer["Add"]" class="btn_green proceed_buttton btns">
            </div>
        }
    </div>
    <div class="col-md-4 col-lg-4 col-sm-4 col-lg-offset-4 col-sm-offset-4"></div>
</div>