@model RentalHousing.WEB.Models.Comment.CommentUpdateViewModel
@inject RentalHousing.WEB.Resources.SharedViewLocalizer Localizer

    <style>
        .popup_inner label:before {
            content: unset !important;
        }
    </style>

<div class="col-lg-12 col-md-12 col-sm-12" style="box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, 0.16); background-color:white">
    <div class="login_heading">
        @Localizer["YouCanUpdateComment"]
    </div>
    <div class="popup_inner" style="padding-bottom: 0px;">
        @using (Html.BeginForm("Update", "Comment", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.Hidden("Evaluation", "", new { Id = "Rating" })
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.HousingId)
            @Html.Hidden("BookingId", Model.Id)

            @Html.Label("", Localizer["EvaluateHousing"], new { style = "padding-left: unset;" })
            <div>
                <span class="rating">
                    @for (int i = 1; i <= 5; i++)
                    {
                        var starClass = "star";
                        if (Model.Evaluation == 6 - i)
                        {
                            starClass += " active";
                        }
                        <span data-value="@(6 - i)" class="@starClass"></span>
                    }
                </span>
            </div>
            <hr />
            @Html.TextAreaFor(model => model.Comment, new
                                    {
                                        @class = "text_area_c",
                                        @placeholder = Localizer["Comment350characters"],
                                        @rows = 10
                                    })
            <div class="ln_solid"></div>

            <div class="form-button">
                <input type="submit" value="@Localizer["SaveChanges"]" class="sub_signup">
            </div>
        }
    </div>
    <div class="col-md-4 col-lg-4 col-sm-4 col-lg-offset-4 col-sm-offset-4"></div>
</div>