﻿@model RentalHousing.WEB.Models.Housing.HousingIndexViewModel
@inject RentalHousing.WEB.Resources.SharedViewLocalizer Localizer
@inject BLL.Interfaces.IService.IFavouriteService FavouriteService
@using static RentalHousing.WEB.Utils.IdentityExtension
@{
    if (!User.Identity.IsAuthenticated)
    {
        Layout = "_LayoutGuest";
    }
    else
    {
        Layout = "_LayoutHome";
    }
    ViewData["Title"] = Localizer["Book"];
}

@if (ViewData["error"] != null)
{
    <input type="hidden" id="error" value="@Localizer[@ViewData["error"].ToString()]" />
}

<input type="hidden" id="housingId" value="@Model.Id" />
<div id="content_wrapper">
    <div class="page_title" data-stellar-background-ratio="0" data-stellar-vertical-offset="0"
         style="background-image:url(http://cosmocarrentals.com/images/pitons_tagline.jpg);">
        <ul>
            <li><a href="javascript:;">@Localizer["BookAHouse"]</a></li>
        </ul>
    </div>
    <div class="clearfix"></div>
    <div class="full_width destinaion_sorting_section">
        <div class="container">
            <div class="row space_100 padding_top50 padding_bottom">
                <div class="col-lg-3 col-md-3 col-sm-12">
                    <div class="Travelite_left_sidebar_second">
                        <div class="sidebar_search_bar">
                            @using (Html.BeginForm("Search", "Housing", FormMethod.Get)) {
                                @Html.TextBox("headline", "", new { type = "search", placeholder = Localizer["Search"], id = "sidebar_search" })
                            }
                        </div>
                        <aside class="widget_favourite">
                            <button id="FavButton" type="button" class="favourite_button">
                                <div class="favourite_block">
                                    @if (!await FavouriteService.IsFavourite(User.Identity.GetUserId(), Model.Id))
                                    {
                                        <div id="notFav" class="favourite_icon">
                                            <svg viewBox="0 0 24 24" fill="currentColor" fill-opacity="0" stroke="#fdb714" stroke-width="2.25" focusable="false" role="img" stroke-linecap="round" stroke-linejoin="round" style="height: 15px; width: 15px; display: block; overflow: visible;">
                                                <path d="m17.5 2.9c-2.1 0-4.1 1.3-5.4 2.8-1.6-1.6-3.8-3.2-6.2-2.7-1.5.2-2.9 1.2-3.6 2.6-2.3 4.1 1 8.3 3.9 11.1 1.4 1.3 2.8 2.5 4.3 3.6.4.3 1.1.9 1.6.9s1.2-.6 1.6-.9c3.2-2.3 6.6-5.1 8.2-8.8 1.5-3.4 0-8.6-4.4-8.6" stroke-linejoin="round"></path>
                                            </svg>
                                        </div>
                                        <div id="notFav_text" class="favourite_text"><div>@Localizer["InTheFavourites"]</div></div>
                                        <div id="Fav" style="display:none" class="favourite_icon">
                                            <svg width="15px" height="15px" version="1.1" style="display: flex;" viewBox="0 0 1500 1500" role="img">
                                                <path class="fil0" fill="#FDB714" d="M1135.81 171.25c-139.42,0 -272.21,89.89 -358.52,193.61 -106.23,-110.63 -252.29,-221.27 -411.64,-186.69 -99.59,13.82 -192.54,82.97 -239.01,179.77 -152.71,283.5 66.39,573.91 258.93,767.52 92.95,89.89 185.9,172.86 285.49,248.92 26.56,20.74 73.04,62.23 106.23,62.23 33.2,0 79.67,-41.49 106.23,-62.23 212.46,-159.03 438.2,-352.64 544.42,-608.48 99.59,-235.09 0,-594.65 -292.13,-594.65z" />
                                                <path id="1" class="fil1 str0" fill="none" stroke="#FDB714" d="M1135.81 171.25c-139.42,0 -272.21,89.89 -358.52,193.61 -106.23,-110.63 -252.29,-221.27 -411.64,-186.69 -99.59,13.82 -192.54,82.97 -239.01,179.77 -152.71,283.5 66.39,573.91 258.93,767.52 92.95,89.89 185.9,172.86 285.49,248.92 26.56,20.74 73.04,62.23 106.23,62.23 33.2,0 79.67,-41.49 106.23,-62.23 212.46,-159.03 438.2,-352.64 544.42,-608.48 99.59,-235.09 0,-594.65 -292.13,-594.65z" />
                                                <path class="fil2 str1" fill="#FDB714" stroke="#FDB714" d="M1135.81 171.25c-139.42,0 -272.21,89.89 -358.52,193.61 -106.23,-110.63 -252.29,-221.27 -411.64,-186.69 -99.59,13.82 -192.54,82.97 -239.01,179.77 -152.71,283.5 66.39,573.91 258.93,767.52 92.95,89.89 185.9,172.86 285.49,248.92 26.56,20.74 73.04,62.23 106.23,62.23 33.2,0 79.67,-41.49 106.23,-62.23 212.46,-159.03 438.2,-352.64 544.42,-608.48 99.59,-235.09 0,-594.65 -292.13,-594.65z" />
                                            </svg>
                                        </div>
                                        <div id="Fav_text" style="display:none" class="favourite_text"><div>@Localizer["InTheFavouritesYet"]</div></div>
                                    }
                                    else
                                    {
                                        <div id="Fav" class="favourite_icon">
                                            <svg width="15px" height="15px" version="1.1" style="display: flex;" viewBox="0 0 1500 1500" role="img">
                                                <path class="fil0" fill="#FDB714" d="M1135.81 171.25c-139.42,0 -272.21,89.89 -358.52,193.61 -106.23,-110.63 -252.29,-221.27 -411.64,-186.69 -99.59,13.82 -192.54,82.97 -239.01,179.77 -152.71,283.5 66.39,573.91 258.93,767.52 92.95,89.89 185.9,172.86 285.49,248.92 26.56,20.74 73.04,62.23 106.23,62.23 33.2,0 79.67,-41.49 106.23,-62.23 212.46,-159.03 438.2,-352.64 544.42,-608.48 99.59,-235.09 0,-594.65 -292.13,-594.65z" />
                                                <path id="1" class="fil1 str0" fill="none" stroke="#FDB714" d="M1135.81 171.25c-139.42,0 -272.21,89.89 -358.52,193.61 -106.23,-110.63 -252.29,-221.27 -411.64,-186.69 -99.59,13.82 -192.54,82.97 -239.01,179.77 -152.71,283.5 66.39,573.91 258.93,767.52 92.95,89.89 185.9,172.86 285.49,248.92 26.56,20.74 73.04,62.23 106.23,62.23 33.2,0 79.67,-41.49 106.23,-62.23 212.46,-159.03 438.2,-352.64 544.42,-608.48 99.59,-235.09 0,-594.65 -292.13,-594.65z" />
                                                <path class="fil2 str1" fill="#FDB714" stroke="#FDB714" d="M1135.81 171.25c-139.42,0 -272.21,89.89 -358.52,193.61 -106.23,-110.63 -252.29,-221.27 -411.64,-186.69 -99.59,13.82 -192.54,82.97 -239.01,179.77 -152.71,283.5 66.39,573.91 258.93,767.52 92.95,89.89 185.9,172.86 285.49,248.92 26.56,20.74 73.04,62.23 106.23,62.23 33.2,0 79.67,-41.49 106.23,-62.23 212.46,-159.03 438.2,-352.64 544.42,-608.48 99.59,-235.09 0,-594.65 -292.13,-594.65z" />
                                            </svg>
                                        </div>
                                        <div id="Fav_text" class="favourite_text"><div>@Localizer["InTheFavouritesYet"]</div></div>
                                    }

                                </div>
                            </button>
                        </aside>
                        <aside class="widget about_us_widget">
                            <h4 class="widget-title">@Localizer["Description"]</h4>
                            <div class="widgett text_widget">
                                <p style="color: black;">@Localizer["TypeofHousing"] - @Localizer["TypeofHousing" + ((int)Model.TypeOfHousing).ToString()]</p>
                                <p style="color: black;">@Model.NumberOfPossibleGuests  @Localizer["Guests"]</p>
                                <p style="color: black;">@Model.NumberOfBeds  @Localizer["Beds"]</p>
                                @if (Model.Bathroom)
                                {
                                    <p style="color: black;">@Localizer["Bathroom"]</p>
                                }

                            </div>
                        </aside>
                        <aside class="widget similar_pacakges">
                            <h4 class="widget-title">@Localizer["Owner"]</h4>
                            <div class="widgett text_widget">
                                <div class="image_holder" style="margin-bottom: 0px;">
                                    <img src="@Url.Content("~/uploads/person.png")" width="150" height="150" alt="package thumb">
                                    <h5 style="margin-top: 0px;"><a href="/User/UserProfile?userId=@Model.User.Id">@Model.User.UserName</a></h5>
                                </div>
                            </div>
                        </aside>
                    </div>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-12">
                    <div class="tour_packages_right_section left_space_40">
                        <div class="flight_grid_desc">
                            <!-- title start -->
                            <div class="bottom_title">
                                <h5 style="color: black; font-size: 20px;">@Model.AdHeadline</h5>
                                <div class="right_span">
                                    <span class="doller">@Model.PriceNight$</span>
                                    <br>
                                    <span>@Localizer["PersonCost"]</span>
                                </div>
                                <!-- review start -->
                                <div class="bottom_review_rating">
                                    <div class="rating_bottom">
                                        <span class="rating-result" style="font-size: 0px;">
                                            @for (int i = 1; i <= 5; i++)
                                            {
                                                var starClass = "";
                                                if (Model.AverageEvaluation >= (float)i)
                                                {
                                                    starClass += " active";
                                                }
                                                <span data-value="@(i)" class="@starClass " style="font-size: large"> </span>
                                            }
                                        </span>
                                        <span>(@Model.AverageEvaluation)</span>
                                    </div>
                                    <!-- review End -->
                                </div>
                            </div>
                            <div class="bottom_desc">
                                <h5 class="starting_text">@Model.Address</h5>
                            </div>
                            <div class="bottom_desc">
                                <h5 class="includes_text">@Localizer["CreationDate"] :   @Model.CreationDate.ToString("d")</h5>
                            </div>
                        </div>

                        <!-- slider start -->
                        <div class="package_details_slider">
                            <div id="package_details_slider" class="owl-carousel owl-theme">
                                @foreach (var file in Model.Files)
                                {
                                    <div class="item">
                                        <img src="@Url.Content(file)" style="width: auto" alt="slide">
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="full_width hotel_details_mdl_tab" id="Travelite_middle_tabs">
                            <div class="pcg_tabs_panel">
                                <ul>
                                    <li> <a href="#tab_search_1">@Localizer["MoreInfomation"]</a></li>
                                    <li> <a href="#tab_search_2">@Localizer["Comments"]</a></li>
                                </ul>
                            </div>
                            <!--  tab content start -->
                            <div id="tab_search_1" class="tab_details_part hotel_details_tab">
                                <div class="inner_content" style="background-color:white">
                                    <div class="inner_title">@Localizer["Conveniences"]</div>
                                    <div class="hotel_facility_list">
                                        <ul>
                                            @if (Model.BathAccessories)
                                            {
                                                <li><i class="fa fa-check-square-o"></i>@Localizer["BathAccessories"]</li>
                                            }
                                            @if (Model.Conditioner)
                                            {
                                                <li><i class="fa fa-asterisk"></i>@Localizer["Conditioner"]</li>
                                            }
                                            @if (Model.Kitchen)
                                            {
                                                <li><i class="fa fa-cutlery"></i>@Localizer["Kitchen"]</li>
                                            }
                                            @if (Model.Microwave)
                                            {
                                                <li><i class="fa fa-check-square-o"></i>@Localizer["Microwave"]</li>
                                            }
                                            @if (Model.Television)
                                            {
                                                <li><i class="fa fa-television"></i>@Localizer["Television"]</li>
                                            }
                                            @if (Model.Wardrobe)
                                            {
                                                <li><i class="fa fa-check-square-o"></i>@Localizer["Wardrobe"]</li>
                                            }
                                            @if (Model.WashingMachine)
                                            {
                                                <li><i class="fa fa-check-square-o"></i>@Localizer["WashingMachine"]</li>
                                            }
                                            @if (Model.WiFi)
                                            {
                                                <li><i class="fa fa-wifi"></i>@Localizer["WiFi"]</li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div id="tab_search_2" class="tab_details_part hotel_details_tab">
                                <div class="inner_content padding_top" style="background-color:white">
                                    <div id="comments">
                                        <ol class="comment-list padding_left0_comment padding_left13_comment">
                                            @foreach (var comment in Model.Comments)
                                            {
                                                <li class="comment" style="padding-bottom: 0px;">
                                                    <div>
                                                        <div class="article">
                                                            <div class="gravatar">
                                                                <img alt="" src="@Url.Content("~/uploads/person.png")" class="avatar">
                                                            </div>
                                                            <div class="comment-body">
                                                                <div class="comment-meta">
                                                                    <div class="comment-author">
                                                                        <a href="/User/UserProfile?userId=@comment.UserId">@comment.UserName</a>
                                                                        <div class="rating_bottom">
                                                                            <span class="rating-result" style="font-size: 0px;">
                                                                                @for (int i = 1; i <= 5; i++)
                                                                                {
                                                                                    var starClass = "";
                                                                                    if (comment.Evaluation >= (float)i)
                                                                                    {
                                                                                        starClass += " active";
                                                                                    }
                                                                                    <span data-value="@(i)" class="@starClass " style="font-size: large"> </span>
                                                                                }
                                                                            </span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="comment-date" style="right: 30px;">
                                                                        <a href="javascript:;">@comment.CreationDate.ToString("D")</a>
                                                                    </div>
                                                                </div>
                                                                <p>@comment.Comment</p>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </li>
                                            }
                                        </ol>
                                    </div>
                                </div>
                            </div>
                            <div class="booking_area_section">
                                <div class=" full_width booking_form_bg">
                                    @if (!User.Identity.IsAuthenticated)
                                    {
                                        <div id="building_search" class="flight_booking_tab">
                                            <a href="/Account/Register?returnUrl=@Context.Request.Path@Context.Request.QueryString">@Localizer["BookingUnregistered"]</a>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="booking_section">
                                            @using (Html.BeginForm("Create", "Booking", FormMethod.Post))
                                            {
                                                @Html.AntiForgeryToken()
                                                @Html.Hidden("HousingId", Model.Id)
                                                @Html.Hidden("Price", Model.PriceNight)
                                                <div class="booking_inner_block">
                                                    <div class="pull_left marg_right check_in_field">
                                                        <label>@Localizer["StartDate"]</label>
                                                        @(Html.DevExtreme().DateBox()
                                            .Name("StartDate")
                                            .Type(DateBoxType.Date)
                                            .Value(DateTime.Today.AddDays(1))
                                            .Min(DateTime.Today.AddDays(1)))
                                                    </div>
                                                    <div class="pull_left check_in_field">
                                                        <label>@Localizer["EndDate"]</label>
                                                        @(Html.DevExtreme().DateBox()
                                            .Name("EndDate")
                                            .Type(DateBoxType.Date)
                                            .Value(DateTime.Today.AddDays(2))
                                            .Min(DateTime.Today.AddDays(2)))
                                                    </div>
                                                </div>
                                                <div class="booking_inner_block">
                                                    <div class="pull_left marg_right check_in_field">
                                                        <label>@Localizer["Adults"]</label>
                                                        @(Html.DevExtreme().SelectBox()
                                            .Name("Adults")
                                            .DataSource(Enumerable.Range(1, Model.NumberOfPossibleGuests))
                                            .Value(1))
                                                    </div>
                                                    <div class="pull_left check_in_field">
                                                        <label>@Localizer["Kids"]</label>
                                                        @(Html.DevExtreme().SelectBox()
                                            .Name("ChildrenFrom6To17")
                                            .DataSource(Enumerable.Range(0, Model.NumberOfPossibleGuests))
                                            .Value(0))
                                                    </div>
                                                </div>
                                                <div class="booking_inner_block">
                                                    <button type="submit" value="submit query" class="submit_query btn-yellow btns">
                                                        @Localizer["BookHousing"]
                                                    </button>
                                                </div>
                                            }
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script type="text/javascript" src="~/js/views/Housing/GetForBooking.js"></script>
    <script>
        DevExpress.localization.locale(navigator.language);
    </script>
}

