﻿@model RentalHousing.WEB.Models.Housing.UserHousingViewModel
@inject RentalHousing.WEB.Resources.SharedViewLocalizer Localizer
@{
    Layout = "_LayoutHome";
    ViewData["Title"] = Localizer["Profile"];
}

@if (ViewData["error"] != null)
{
    <input type="hidden" id="error" value="@Localizer[ViewData["error"].ToString()]" />
}

<div style="background: url(../images/bg.jpg);">
    <div class="page_title" data-stellar-background-ratio="0" data-stellar-vertical-offset="0"
         style="background-image:url(http://cosmocarrentals.com/images/pitons_tagline.jpg);">
        <ul>
            <li><a href="javascript:;">@Model.AdHeadline</a></li>
        </ul>
    </div>
    <section class="travel_section">
        <div class="about_housing">
            <div class="">
                <div class="right_side_details">
                    <div class="toolbar_block">
                        <a href="/Housing/Update?housingId=@Model.Id" class="btns" style="font-size: 23px;" title="@Localizer["Edit"]">
                            <i class="fa fa-pencil" style="color: #86b817;"></i>
                        </a>
                        <a onclick="deleteAd(@Model.Id, '@Localizer["DeleteAd"]', '@Localizer["Yes"]','@Localizer["No"]', '@Localizer["Deleting"]')" class="btns" style="font-size: 23px;" title="@Localizer["Delete"]">
                            <i class="fa fa-trash" style="color: #86b817;"></i>
                        </a>
                    </div>
                    <div class="title_text">
                        <h5>@Localizer["Description"]</h5>
                    </div>
                    <div class="table_housing">
                        <table class="table">

                            <tr>
                                <td>@Localizer["TypeofHousing"]:</td>
                                <td>
                                    @Localizer["TypeofHousing" + ((int)Model.TypeOfHousing).ToString()]
                                </td>
                            </tr>
                            <tr>
                                <td>@Localizer["AddressLabel"]:</td>
                                <td>
                                    @Model.Address
                                </td>
                            </tr>
                            <tr>
                                <td>@Localizer["Numberofpossibleguestslabel"]:</td>
                                <td>
                                    @Model.NumberOfPossibleGuests
                                </td>
                            </tr>
                            <tr>
                                <td>@Localizer["NumberOfBedsLabel"]:</td>
                                <td>
                                    @Model.NumberOfBeds
                                </td>
                            </tr>
                            <tr>
                                <td>@Localizer["SleepingPlacesLabel"]:</td>
                                <td>
                                    @Model.SleepingPlaces
                                </td>
                            </tr>
                            <tr>
                                <td>@Localizer["PriceNightLabel"]:</td>
                                <td>
                                    @Model.PriceNight
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="title_text">
                        <h5>@Localizer["Conveniences"]</h5>
                    </div>
                    <div class="table_housing vertic_horiz_center">
                        <ul>
                            @if (Model.Bathroom)
                            {
                                <li><label style="width: 100% !important; text-align:left">@Localizer["Bathroom"]</label></li>
                            }
                            @if (Model.BathAccessories)
                            {
                                <li><label style="width: 100% !important; text-align:left">@Localizer["BathAccessories"]</label></li>
                            }
                            @if (Model.Conditioner)
                            {
                                <li><label style="width: 100% !important; text-align:left">@Localizer["Conditioner"]</label></li>
                            }
                            @if (Model.Kitchen)
                            {
                                <li><label style="width: 100% !important; text-align:left">@Localizer["Kitchen"]</label></li>
                            }
                            @if (Model.Microwave)
                            {
                                <li><label style="width: 100% !important; text-align:left">@Localizer["Microwave"]</label></li>
                            }
                            @if (Model.Television)
                            {
                                <li><label style="width: 100% !important; text-align:left">@Localizer["Television"]</label></li>
                            }
                            @if (Model.Wardrobe)
                            {
                                <li><label style="width: 100% !important; text-align:left">@Localizer["Wardrobe"]</label></li>
                            }
                            @if (Model.WashingMachine)
                            {
                                <li><label style="width: 100% !important; text-align:left">@Localizer["WashingMachine"]</label></li>
                            }
                            @if (Model.WiFi)
                            {
                                <li><label style="width: 100% !important; text-align:left">@Localizer["WiFi"]</label></li>
                            }
                        </ul>
                    </div>
                    <div class="title_text">
                        <h5>@Localizer["ScheduleOfBookings"]</h5>
                    </div>
                    <div class="table_housing">
                        @(Html.DevExtreme().Scheduler()
                            .DataSource(Model.Schedules)
                            .TextExpr("UserName")
                            .StartDateExpr("StartDate")
                            .EndDateExpr("EndDate")
                            .Views(new[] { SchedulerViewType.Month })
                            .CurrentView(SchedulerViewType.Month)
                            .FirstDayOfWeek(FirstDayOfWeek.Monday)
                            .Height(600)
                            .Editing(false)
                            .Groups(new[] { "UserId" }))
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script type="text/javascript" src="~/js/views/Housing/GetUserHousing.js"></script>
    <script>
        DevExpress.localization.locale(navigator.language);
    </script>
}
