﻿@model RentalHousing.WEB.Models.Housing.HousingSearchResultViewModel
@inject RentalHousing.WEB.Resources.SharedViewLocalizer Localizer
@{
    if (!User.Identity.IsAuthenticated)
    {
        Layout = "_LayoutGuest";
    }
    else
    {
        Layout = "_LayoutHome";
    }
    ViewData["Title"] = Localizer["Search"];
}

@if (ViewData["error"] != null)
{
    <input type="hidden" id="error" value="@Localizer[ViewData["error"].ToString()]" />
}

<div id="content_wrapper">
    <div class="page_title" data-stellar-background-ratio="0" data-stellar-vertical-offset="0"
         style="background-image:url(http://cosmocarrentals.com/images/pitons_tagline.jpg);">
        <ul>
            <li><a href="javascript:;">@Localizer["SearchResult"]</a></li>
        </ul>
    </div>
    <div class="clearfix"></div>
    @using (Html.BeginForm("SearchFilter", "Housing", FormMethod.Get, htmlAttributes: new { @id = "searchForm"}))
    {
        <div class="full_width destinaion_sorting_section customer_says_section" style="background: url(@Url.Content("../images/bg.jpg")); ">
            <div class="container">
                <div class="row space_100 padding_top50 padding_bottom">
                    <!-- left sidebar start -->
                    <div class="sidebar_search col-lg-3 col-md-3 col-sm-12">
                        <div class="Travelite_left_sidebar flghts_left_sidebar">
                            <div class="sidebar_search_bar">
                                <div>
                                    <input type="search" id="sidebar_search" placeholder="@Localizer["Search"]" name="SearchHeadline" />
                                </div>
                            </div>
                            <aside class="widget widget_filter">
                                <h4 class="widget-title">@Localizer["BookingPrice"]</h4>
                                <div class="price_filter_slider">
                                    <div id="Slider"></div>
                                    <p class="range_text">
                                        <label for="Amount">@Localizer["PriceRange"]:</label>
                                        @Html.TextBoxFor(model => model.Amount, htmlAttributes: new
                                           {
                                               @type = "text",
                                               @readonly = "true"
                                           })
                                        @*<input type="text" id="amount" name="Amount" readonly>*@
                                    </p>
                                </div>
                            </aside>
                            <aside class="widget amenities_widget">
                                <h4 class="widget-title">@Localizer["Conveniences"]</h4>
                                <div class="travel_checkbox_round">
                                    @Html.CheckBoxFor(model => model.Bathroom, htmlAttributes: new { })
                                    <label for="Bathroom">@Localizer["Bathroom"]</label>

                                    @Html.CheckBoxFor(model => model.WiFi, htmlAttributes: new { })
                                    <label for="WiFi">@Localizer["WiFi"]</label>

                                    @Html.CheckBoxFor(model => model.BathAccessories, htmlAttributes: new { })
                                    <label for="BathAccessories">@Localizer["BathAccessories"]</label>

                                    @Html.CheckBoxFor(model => model.Television, htmlAttributes: new { })
                                    <label for="Television">@Localizer["Television"]</label>

                                    @Html.CheckBoxFor(model => model.Conditioner, htmlAttributes: new { })
                                    <label for="Conditioner">@Localizer["Conditioner"]</label>

                                    @Html.CheckBoxFor(model => model.Kitchen, htmlAttributes: new { })
                                    <label for="Kitchen">@Localizer["Kitchen"]</label>

                                    @Html.CheckBoxFor(model => model.Wardrobe, htmlAttributes: new { })
                                    <label for="Wardrobe">@Localizer["Wardrobe"]</label>

                                    @Html.CheckBoxFor(model => model.Microwave, htmlAttributes: new { })
                                    <label for="Microwave">@Localizer["Microwave"]</label>

                                    @Html.CheckBoxFor(model => model.WashingMachine, htmlAttributes: new { })
                                    <label for="WashingMachine">@Localizer["WashingMachine"]</label>

                                </div>
                            </aside>
                            <aside class="widget modify_search_widget">
                                <h4 class="widget-title">@Localizer["Adults"]</h4>
                                <div class="sidebar_form">
                                    @*<div class="destination_field">
                                            <label>destination</label>
                                            <input type="text" placeholder="Enter Destination">
                                        </div>
                                        <div class="destination_field">
                                            <label>Check in date</label>
                                            <input type="text" id="Check_in_date_tab" placeholder="dd/mm/yyyy">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                        <div class="destination_field">
                                            <label>check out date</label>
                                            <input type="text" id="Check_out_date_tab" placeholder="dd/mm/yyyy">
                                            <i class="fa fa-calendar"></i>
                                        </div>*@
                                    <ul class="sidebar_select">
                                        <li class="select_field">
                                            <label>@Localizer["Adults"]</label>
                                            @Html.TextBoxFor(model => model.Adult, htmlAttributes: new
                                            {
                                                @type = "number",
                                                @class = "input_spinner"
                                            })
                                        </li>
                                        <li class="select_field">
                                            <label>@Localizer["Kids"]</label>
                                            @Html.TextBoxFor(model => model.Child, htmlAttributes: new
                                            {
                                                @type = "number",
                                                @class = "input_spinner"
                                            })
                                        </li>
                                    </ul>
                                    <div class="destination_field">
                                        <label>@Localizer["SleepingPlaces"]</label>
                                        @Html.TextBoxFor(model => model.SleepingPlaces, htmlAttributes: new
                                        {
                                            @type = "number",
                                            @class = "input_spinner"
                                        })
                                    </div>
                                    <button type="submit" class="btn-travel btn-yellow">@Localizer["Search"]</button>
                                </div>
                            </aside>
                        </div>
                    </div>
                    <!-- left sidebar end -->
                    <!-- right main start -->
                    <div class="col-lg-9 col-md-9 col-sm-12">
                        <div class="tour_packages_right_section left_space_40">
                            <div class="full_width hotel_list_sorting">
                                @if (Model.Houses.Count() == 0)
                                {
                                    @Localizer["NoResult"]
                                }
                                else
                                {
                                    @foreach (var h in Model.Houses)
                                    {
                                        <div class="sorting_places_wrap  list_sorting_view">
                                            <div class="col-lg-5 col-md-5 col-sm-5 padding_none">
                                                <div class="thumb_wrape">
                                                    <a href="#">
                                                        <img src="@Url.Content(h.MainImgUrl)" alt="hotel thumb">
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="col-lg-7 col-md-7 col-sm-7">
                                                <div class="flight_grid_desc flight_list_desc">
                                                    <div class="bottom_title">
                                                        <h5><a href="/Housing/GetForBooking?housingId=@h.Id" target="_blank">@h.AdHeadline</a></h5>
                                                        <div class="right_span"><span class="doller">@h.PriceNight$</span><br /><span>@Localizer["PersonCost"]</span></div>
                                                    </div>
                                                    <div class="bottom_review_rating">
                                                        @h.Address
                                                    </div>
                                                    <div class="flight_details_schedule">
                                                        <div class="take_off_landing">
                                                            <h5>@Localizer["TypeofHousing"]</h5>
                                                            <p>@Localizer["TypeofHousing" + ((int)h.TypeOfHousing).ToString()]</p>
                                                        </div>
                                                        <div class="take_off_landing">
                                                            <h5>@Localizer["CreationDate"]</h5>
                                                            <p>@h.CreationDate.ToString("d")</p>
                                                        </div>
                                                    </div>
                                                    <div class="pull-right book_now_btn" style="margin-top:15px;">
                                                        <a href="/Housing/GetForBooking?housingId=@h.Id" target="_blank" class="btns">
                                                            @Localizer["BookNow"]
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    <input id="pageNumber" name="page" type="hidden" />

                                    <!-- pagination section -->
                                    <div class="full_width pagination_bottom">
                                        <ul class="pagination">
                                            @for (int count = Model.Page; count <= (Model.Houses.Count() / 20) + 1 && count <= 10; count++)
                                            {
                                                @if (count == Model.Page)
                                                {
                                                    <li><a class="aPage selectedPage">@count</a></li>
                                                }
                                                else
                                                {
                                                    <li><a class="aPage">@count</a></li>
                                                }
                                            }
                                        </ul>
                                    </div>
                                    <!-- pagination section -->
                                }

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    }
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script type="text/javascript" src="~/js/views/Housing/SearchResult.js"></script>
    <script>
        var err = $('#error').val();
        if (err) {
            toastr.error(err);
        }
    </script>
}
