﻿@model RentalHousing.WEB.Models.Housing.HousingUpdateViewModel
@inject RentalHousing.WEB.Resources.SharedViewLocalizer Localizer
@{
    Layout = "_LayoutHome";
    ViewData["Title"] = Localizer["UpdateAd"];
}

@if (ViewData["error"] != null)
{
    <input type="hidden" id="error" value="@Localizer[ViewData["error"].ToString()]" />
}

<div id="content_wrapper">
    <!--page title Start-->
    <div class="page_title" data-stellar-background-ratio="0" data-stellar-vertical-offset="0"
         style="background-image:url(http://cosmocarrentals.com/images/pitons_tagline.jpg);">
        <ul>
            <li><a href="javascript:;">@Localizer["UpdateAd"]</a></li>
        </ul>
    </div>
    <!--page title end-->
    <div class="clearfix"></div>
    <div class="full_width destinaion_sorting_section" style="background: url(@Url.Content("../images/bg.jpg"));">
        <div class="container">
            <div class="row space_100 padding_top">
                <div class="col-lg-12">
                    <div class="tour_package_booking_section">
                        <!-- package tabs start -->
                        <div id="tour_booking_tabs">
                            <!-- tabs start -->
                            @using (Html.BeginForm("Update", "Housing", FormMethod.Post, new { enctype = "multipart/form-data" }))
                            {
                                @Html.AntiForgeryToken()
                            <div>
                                @Html.HiddenFor(model => model.Id)
                                <div class="tour_booking_tabs">
                                    <ul>
                                        <li><a href="#booking_details">@Localizer["AboutHousing"]</a></li>
                                        <li><a href="#personal_info">@Localizer["Conveniences"]</a></li>
                                        <li><a href="#payment_info">@Localizer["AdDescription"]</a></li>
                                    </ul>
                                </div>
                                <div id="booking_details" class="main_content_area hotel_main_content">
                                    <div class="col-xl-3 col-lg-3 col-md-2 col-sm-2 "></div>
                                    <div class="tab_inner_section col-xl-6 col-lg-6 col-md-8 col-sm-8">
                                        <div class="heading_tab_inner">
                                            <h5>@Localizer["NewAd"]</h5>
                                        </div>
                                        <div class="tab_inner_body full_width" style="background: white">
                                            <div class="x-panel">
                                                <div class="form-group ">
                                                    <label asp-for="TypeOfHousing" class="control-label"></label>
                                                    <select asp-for="TypeOfHousing" class="form-control select2 select2-hidden-accessible">
                                                        <option value="1">@Localizer["TypeofHousing1"]</option>
                                                        <option value="2">@Localizer["TypeofHousing2"]</option>
                                                        <option value="3">@Localizer["TypeofHousing3"]</option>
                                                    </select>
                                                </div>
                                                <div class="form-group ">
                                                    <label asp-for="NumberOfPossibleGuests" class="control-label"></label>
                                                    @Html.DropDownListFor(model => model.NumberOfPossibleGuests, new SelectList(new int[] { 1, 2, 3, 4, 5 }),
                                                             new { @class = "form-control select2 select2-hidden-accessible" })
                                                </div>
                                                <div class="form-group ">
                                                    <label asp-for="NumberOfBeds" class="control-label"></label>
                                                    @Html.DropDownListFor(model => model.NumberOfBeds, new SelectList(new int[] { 1, 2, 3, 4, 5 }),
                                                            new { @class = "form-control select2 select2-hidden-accessible" })
                                                </div>
                                                <div class="form-group ">
                                                    <label asp-for="SleepingPlaces" class="control-label"></label>
                                                    @Html.DropDownListFor(model => model.SleepingPlaces, new SelectList(new int[] { 1, 2, 3, 4, 5 }),
                                                            new { @class = "form-control select2 select2-hidden-accessible" })
                                                </div>
                                                <div class="form-group singup_form popup_inner" style="padding:20px 0px 0px 0px;">
                                                    @Html.CheckBoxFor(model => model.Bathroom, htmlAttributes: new { id = "signup_check", @class = "checkbox_login" })
                                                    <label asp-for="Bathroom" for="signup_check" class="remember_me"></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="personal_info" class="main_content_area hotel_main_content">
                                    <div class="col-xl-3 col-lg-3 col-md-2 col-sm-2"></div>
                                    <div class="tab_inner_section col-xl-6 col-lg-6 col-md-8 col-sm-8">
                                        <div class="package_booking_form">
                                            <div class="heading_tab_inner">
                                                <h5>@Localizer["ConvennienceCreate"]</h5>
                                            </div>
                                            <div class="tab_inner_body full_width" style="background: white; padding-top: 15px; padding-bottom: 0px;">
                                                <div class="x-panel">
                                                    <div class="form-group popup_inner">
                                                        @Html.CheckBoxFor(model => model.BathAccessories, htmlAttributes: new { @class = "checkbox_login" })
                                                        <label asp-for="BathAccessories" class="remember_me"></label>
                                                    </div>
                                                    <div class="form-group popup_inner ">
                                                        @Html.CheckBoxFor(model => model.Conditioner, htmlAttributes: new { @class = "checkbox_login" })
                                                        <label asp-for="Conditioner" class="remember_me"></label>
                                                    </div>
                                                    <div class="form-group popup_inner ">
                                                        @Html.CheckBoxFor(model => model.Kitchen, htmlAttributes: new { @class = "checkbox_login" })
                                                        <label asp-for="Kitchen" class="remember_me"></label>
                                                    </div>
                                                    <div class="form-group popup_inner ">
                                                        @Html.CheckBoxFor(model => model.Microwave, htmlAttributes: new { @class = "checkbox_login" })
                                                        <label asp-for="Microwave" class="remember_me"></label>
                                                    </div>
                                                    <div class="form-group popup_inner ">
                                                        @Html.CheckBoxFor(model => model.Television, htmlAttributes: new { @class = "checkbox_login" })
                                                        <label asp-for="Television" class="remember_me"></label>
                                                    </div>
                                                    <div class="form-group popup_inner ">
                                                        @Html.CheckBoxFor(model => model.Wardrobe, htmlAttributes: new { @class = "checkbox_login" })
                                                        <label asp-for="Wardrobe" class="remember_me"></label>
                                                    </div>
                                                    <div class="form-group popup_inner ">
                                                        @Html.CheckBoxFor(model => model.WashingMachine, htmlAttributes: new { @class = "checkbox_login" })
                                                        <label asp-for="WashingMachine" class="remember_me"></label>
                                                    </div>
                                                    <div class="form-group popup_inner ">
                                                        @Html.CheckBoxFor(model => model.WiFi, htmlAttributes: new { @class = "checkbox_login" })
                                                        <label asp-for="WiFi" class="remember_me"></label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="payment_info" class="main_content_area hotel_main_content">
                                    <div class="col-xl-3 col-lg-3 col-md-2 col-sm-2"></div>
                                    <div class="tab_inner_section col-xl-6 col-lg-6 col-md-8 col-sm-8">
                                        <div class="heading_tab_inner">
                                            <h5>@Localizer["AdDescription"] </h5>
                                        </div>
                                        <div class="tab_inner_body full_width" style="background: white;">
                                            <div class="x-panel">
                                                <div class="form-group ">
                                                    <label asp-for="AdHeadline" class="control-label"></label>
                                                    @Html.TextBoxFor(model => model.AdHeadline, "", htmlAttributes: new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.AdHeadline, "", htmlAttributes: new { @class = "text-danger" })
                                                </div>
                                                <div class="form-group ">
                                                    <label asp-for="Address" class="control-label"></label>
                                                    @Html.TextBoxFor(model => model.Address, "", htmlAttributes: new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.Address, "", htmlAttributes: new { @class = "text-danger" })
                                                </div>
                                                <div class="form-group ">
                                                    <label asp-for="PriceNight" class="control-label"></label>
                                                    @Html.TextBoxFor(model => model.PriceNight, "", htmlAttributes: new { @class = "form-control", type = "number" })
                                                    @Html.ValidationMessageFor(model => model.PriceNight, "", htmlAttributes: new { @class = "text-danger" })
                                                </div>
                                                <div class="form-group">
                                                    <label asp-for="MainImg" class="control-label"></label>
                                                    <input class="form-control" asp-for="MainImg" />
                                                </div>
                                                <div class="form-group">
                                                    <label asp-for="AdditionalFiles" class="control-label"></label>
                                                    <input class="form-control" asp-for="AdditionalFiles" multiple />
                                                </div>
                                            </div>
                                            <div class="full_width t_align_c">
                                                <button type="submit" class="btn_green proceed_buttton btns">@Localizer["SaveAd"]</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script>
        var err = $('#error').val();
        if (err) {
            toastr.error(err);
        }
    </script>
}

