﻿@inject RentalHousing.WEB.Resources.SharedViewLocalizer Localizer

<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                ©
                <script>document.write(new Date().getFullYear())</script> RentalHousing <span class="d-none d-sm-inline-block"> - with <i class="mdi mdi-heart text-danger"></i> by Alina.</span>
            </div>
        </div>
    </div>
</footer>
