﻿@inject RentalHousing.WEB.Resources.SharedViewLocalizer Localizer

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <link href="~/css/veltrix/bootstrap.min.css" id="bootstrap-light" rel="stylesheet" type="text/css" />
    <link href="~/css/veltrix/bootstrap-dark.min.css" id="bootstrap-dark" rel="stylesheet" type="text/css" />

    <link href="~/css/veltrix/icons.min.css" rel="stylesheet" type="text/css" />

    <link href="~/css/veltrix/app-dark.min.css" id="app-dark" rel="stylesheet" type="text/css" />
    <link href="~/css/veltrix/app-rtl.min.css" id="app-rtl" rel="stylesheet" type="text/css" />
    <link href="~/css/veltrix/app.min.css" id="app-light" rel="stylesheet" type="text/css" />
</head>
<body class="travel_home" data-sidebar="dark">
    <!-- Begin page -->
    <div id="layout-wrapper">
        @await Html.PartialAsync("~/Views/Shared/_topbar.cshtml")

        <!-- Left Sidebar Start -->
        @await Html.PartialAsync("~/Views/Shared/_sidebar.cshtml")
        <!-- Left Sidebar End -->
        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="main-content">

            @RenderBody()

            @await Html.PartialAsync("~/Views/Shared/_footer.cshtml")

        </div>
        <!-- end main content-->

    </div>
    <!-- END layout-wrapper -->
    <!-- Right Sidebar -->
    @await Html.PartialAsync("~/Views/Shared/_right_sidebar.cshtml")

    <!-- /Right-bar -->
    <!-- Right bar overlay-->
    <div class="rightbar-overlay"></div>

    @RenderSection("Scripts", required: false)

    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/metismenu/metisMenu.min.js"></script>
    <script src="~/lib/simplebar/simplebar.min.js"></script>
    <script src="~/lib/node-waves/waves.min.js"></script>
    <script src="~/js/app.js"></script>
</body>
</html>
