﻿@inject RentalHousing.WEB.Resources.SharedViewLocalizer Localizer

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />

        <link rel="stylesheet" href="~/lib/toastr/toastr.min.css" />
        <link rel="stylesheet" href="~/lib/jQuery-File-Upload-9.21.0/css/jquery.fileupload.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>

    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/travelPro/css/main.css">

    @*<link href="~/css/devextreme/bootstrap.css" rel="stylesheet" />*@
    <link href="~/css/devextreme/dx.common.css" rel="stylesheet" />

    <link href="~/css/devextreme/dx.light.css" rel="stylesheet" />

    <script src="~/js/devextreme/jquery.js"></script>
    <script src="~/js/devextreme/bootstrap.js"></script>
 
    <script src="~/js/devextreme/dx.all.js"></script>
    <script src="~/js/devextreme/aspnet/dx.aspnet.mvc.js"></script>
    <script src="~/js/devextreme/aspnet/dx.aspnet.data.js"></script>

    <script src="https://cdn3.devexpress.com/jslib/19.2.7/js/localization/dx.messages.ru.js"></script>
</head>
<body class="travel_home">

    <div id="travel_wrapper travel_body_loaded">
        <!--Header start-->
        <header id="header_wrapper">
            <div class="header_top">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-1 mr-auto">
                            <div class="travel_logo"> <a href="/Home/Index"><img src="~/travelPro/svg/rent1.svg" alt="logo" /></a> </div>
                        </div>
                        <div class="col-md-10 col-sm-6 ml-auto">
                            <div class="top_menu ">
                                <ul>
                                    <li>
                                        <a class="pointerEvents" href="#"><i class="fa fa-globe"></i> @Localizer["Language"]</a>
                                        <ul class="sub-menu">
                                            <li><a href="/Account/ChangeLocalization?culture=en&returnUrl=/Home/Index">@Localizer["English"]</a></li>
                                            <li><a href="/Account/ChangeLocalization?culture=ru&returnUrl=/Home/Index">@Localizer["Russian"]</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="/Home/MyAds">@Localizer["MyAds"]</a></li>
                                    <li><a href="/Home/MyBookings">@Localizer["MyBookings"]</a></li>
                                    <li>
                                        <a class="pointerEvents" href="#">@Localizer["Account"]</a>
                                        <ul class="sub-menu">
                                            <li><a href="/User/PersonalProfile">@Localizer["Profile"]</a></li>
                                            <li style="display:flex">
                                                <svg viewBox="0 0 24 24" fill="currentColor" fill-opacity="0" stroke="#ffffff" stroke-width="2.25" focusable="false" role="img" stroke-linecap="round" stroke-linejoin="round" style="height: 15px; width: 15px; display: block; overflow: visible; margin: auto 8px auto 0px;">
                                                    <path d="m17.5 2.9c-2.1 0-4.1 1.3-5.4 2.8-1.6-1.6-3.8-3.2-6.2-2.7-1.5.2-2.9 1.2-3.6 2.6-2.3 4.1 1 8.3 3.9 11.1 1.4 1.3 2.8 2.5 4.3 3.6.4.3 1.1.9 1.6.9s1.2-.6 1.6-.9c3.2-2.3 6.6-5.1 8.2-8.8 1.5-3.4 0-8.6-4.4-8.6" stroke-linejoin="round"></path>
                                                </svg>
                                                <a href="/Home/MyFavourites">@Localizer["Favourites"]</a>
                                            </li>
                                            <li><a href="/Account/Logout">@Localizer["Logout"]</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!--Header end-->
        <!--content body start-->
        <div id="content_wrapper">
            @RenderBody()

        </div>

        <!--footer start-->
        <footer id="footer_wrapper">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-8 col-sm-12">
                    <aside class="widget_text">
                        <div class="col-md-2 col-sm-12 custom_footer" style="text-align: center">
                            <a href="/Home/Index"><img src="~/travelPro/svg/rent1.svg" alt="footer logo" /></a>
                        </div>
                        <div class="col-md-10 col-sm-12 custom_footer">
                            <p>
                                @Localizer["AboutProject"]
                            </p>
                        </div>
                    </aside>
                </div>
                <div class="col-md-2 custom_footer">
                    <aside class="widget widget_links col-md" style="margin-bottom: 15px;">
                        <h4 class="widget-title">@Localizer["Useful Links"]</h4>
                        <ul>
                            <li><a href="/Housing/Search?headline=&page=1">@Localizer["Search"]</a></li>
                        </ul>
                    </aside>
                </div>
            </div>
        </footer>
        <!--footer end-->
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6"> <span>@Localizer["StayConnectedWithUs"] - </span> <a href=""><i class="fa fa-facebook"></i></a> <a href=""><i class="fa fa-twitter"></i></a> <a href=""><i class="fa fa-google-plus"></i></a> <a href=""><i class="fa fa-linkedin"></i></a> <a href=""><i class="fa fa-rss"></i></a> </div>
                    <div class="col-md-6 col-sm-6 text-right"> <span>RentalHousing@2020. @Localizer["AllRightReserved"]</span> </div>
                </div>
            </div>
        </div>
    </div>


    <environment include="Development">

        <script src="~/lib/jquery/dist/jquery.js"></script>
        @*<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>*@
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-ui-1.12.1/jquery-ui.min.js"></script>
        <script src="~/lib/toastr/toastr.min.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)

    <script type="text/javascript" src="~/travelPro/js/jquery-1.11.3.js"></script>
    <script type="text/javascript" src="~/travelPro/js/bootstrap.js"></script>
    <script type="text/javascript" src="~/travelPro/js/bootstrap-select.js"></script>
    <script type="text/javascript" src="~/travelPro/js/plugin/datetimepicker/jquery.datetimepicker.js"></script>
    <script type="text/javascript" src="~/travelPro/js/plugin/parallax/jquery.parallax-1.1.3.js"></script>
    <script type="text/javascript" src="~/travelPro/js/plugin/owl/owl.carousel.js"></script>
    <script type="text/javascript" src="~/travelPro/js/plugin/isotope/jquery.isotope.js"></script>
    <script type="text/javascript" src="~/travelPro/js/plugin/bxslider/jquery-bxslider.js"></script>
    <!-- pie chart js -->
    <script type="text/javascript" src="~/travelPro/js/plugin/pie-circle/circles.js"></script>
    <!-- pie chart js -->
    <!--counter js-->
    <script type="text/javascript" src="~/travelPro/js/plugin/counter/jquery.countTo.js">
    </script>
    <!--counter js-->
    <script type="text/javascript" src="~/travelPro/js/plugin/counter/jquery.countdown.js">
    </script>
    <!-- REVOLUTION JS FILES -->
    <script type="text/javascript" src="~/travelPro/js/plugin/revolution/js/jquery.themepunch.tools.min.js">
    </script>
    <script type="text/javascript" src="~/travelPro/js/plugin/revolution/js/jquery.themepunch.revolution.min.js">
    </script>
    <script type="text/javascript" src="~/travelPro/js/plugin/revolution/js/revolution.extension.layeranimation.min.js">
    </script>
    <script type="text/javascript" src="~/travelPro/js/plugin/revolution/js/revolution.extension.navigation.min.js">
    </script>
    <script type="text/javascript" src="~/travelPro/js/plugin/revolution/js/revolution.extension.slideanims.min.js">
    </script>
    <script type="text/javascript" src="~/travelPro/js/plugin/revolution/js/revolution.extension.actions.min.js">
    </script>
    <script type="text/javascript" src="~/travelPro/js/plugin/revolution/js/revolution.extension.parallax.min.js">
    </script>
    <!-- REVOLUTION JS FiLES -->
    <!-- video_popup -->
    <script type="text/javascript" src="~/travelPro/js/plugin/video-popup/jquery.magnific-popup.js">
    </script>
    <!-- video_popup -->
    <!-- slick slider -->
    <script type="text/javascript" src="~/travelPro/js/plugin/slick/jquery-migrate-1.2.1.min.js">
    </script>
    <script type="text/javascript" src="~/travelPro/js/plugin/slick/slick.min.js"></script>
    <!-- slick slider -->
    <!-- video player js -->
    <script src="~/travelPro/js/plugin/video_player/mediaelement-and-player.min.js"></script>
    <!-- video player js -->
    <!-- pricefilter -->
    <script src="~/travelPro/js/plugin/jquery-ui/jquery-ui.js"></script>
    <!-- pricefilter -->
    <script type="text/javascript" src="~/travelPro/js/custom.js"></script>
    <script src="~/js/sweetalert2@9.js"></script>
</body>
</html>
