﻿@inject RentalHousing.WEB.Resources.SharedViewLocalizer Localizer

<div class="right-bar">
    <div data-simplebar class="h-100">
        <div class="rightbar-title px-3 py-4">
            <a href="javascript:void(0);" class="right-bar-toggle float-right">
                <i class="mdi mdi-close noti-icon"></i>
            </a>
            <h5 class="m-0">@Localizer["Settings"]</h5>
        </div>
        <hr class="mt-0" />
        <h6 class="text-center">
            @Localizer["ChooseLayouts"]
        </h6>
        <div class="p-4">
            <div class="custom-control custom-switch mb-3">
                <input type="checkbox" class="custom-control-input theme-choice" id="light-mode-switch" checked />
                <label class="custom-control-label" for="light-mode-switch">@Localizer["LightMode"]</label>
            </div>
            <div class="custom-control custom-switch mb-3">
                <input type="checkbox" class="custom-control-input theme-choice" id="dark-mode-switch" data-bsStyle="~/assets/css/bootstrap-dark.min.css"
                       data-appStyle="~/assets/css/app-dark.min.css" />
                <label class="custom-control-label" for="dark-mode-switch">@Localizer["DarkMode"]</label>
            </div>
        </div>
    </div>
</div>
<div class="rightbar-overlay"></div>