﻿@inject RentalHousing.WEB.Resources.SharedViewLocalizer Localizer
<!-- ========== Left Sidebar Start ========== -->
<div class="vertical-menu">
    <div data-simplebar class="h-100">
        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu list-unstyled" id="side-menu">
                <li>
                    <a href="@Url.Action("UserIndex","Admin")" class="waves-effect">
                        <i class="ti-home"></i><span class="badge badge-pill badge-primary float-right">2</span>
                        <span>@Localizer["Users"]</span>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Index","Calendar")" class=" waves-effect">
                        <i class="ti-calendar"></i>
                        <span>@Localizer["Moderation"]</span>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Index","Calendar")" class="waves-effect">
                        <i class="ti-email"></i>
                        <span>@Localizer["EmailTemplates"]</span>
                    </a>
                </li>
            </ul>
        </div>
        <!-- Sidebar -->
    </div>
</div>
<!-- Left Sidebar End -->