﻿@model RentalHousing.WEB.Models.User.ChangePasswordViewModel
@inject RentalHousing.WEB.Resources.SharedViewLocalizer Localizer
@{
    Layout = "_LayoutHome";
    ViewData["Title"] = @Localizer["ChangingPassword"];
}

@if (ViewData["error"] != null)
{
    <input type="hidden" id="error" value="@Localizer[ViewData["error"].ToString()]" />
}

<div class="row" style="padding:30px 15px;background: url(../images/bg.jpg);">
    <div class="container" style="display: flex;justify-content: center;margin: 30px auto;">
        <div class="col-lg-4 col-md-6 col-sm-4" style="box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, 0.16); background-color:white">
            <div class="login_heading">
                @Localizer["ChangingPassword"]
            </div>
            <div class="popup_inner" style="padding-bottom: 0px;">
                @using (Html.BeginForm("ChangePassword", "User", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.TextBoxFor(model => model.OldPassword, "", new { @placeholder = @Localizer["CurrentPassword"], @class = "input_login",
                   @type = "password"})
                    @Html.ValidationMessageFor(model => model.OldPassword, "", htmlAttributes: new { @class = "text-danger" })

                    @Html.TextBoxFor(model => model.NewPassword, "", new { @placeholder = @Localizer["NewPassword"], @class = "input_login",
                   @type = "password"})
                    @Html.ValidationMessageFor(model => model.NewPassword, "", htmlAttributes: new { @class = "text-danger" })

                    @Html.TextBoxFor(model => model.ConfirmPassword, "", new { @placeholder = @Localizer["ConfirmNewPassword"], @class = "input_login",
                   @type = "password"})
                    @Html.ValidationMessageFor(model => model.ConfirmPassword, "", htmlAttributes: new { @class = "text-danger" })

                    <input type="submit" value=" @Localizer["Change"]" class="sub_signup">
                }
            </div>
            <div class="col-md-4 col-lg-4 col-sm-4 col-lg-offset-4 col-sm-offset-4"></div>
        </div>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script>
        var err = $('#error').val();
        if (err) {
            toastr.error(err);
        }
    </script>
}