﻿@model RentalHousing.WEB.Models.User.UserUpdateViewModel
@inject RentalHousing.WEB.Resources.SharedViewLocalizer Localizer
@{
    Layout = "_LayoutHome";
    ViewData["Title"] = @Localizer["Profile"];
}

@if (ViewData["error"] != null)
{
    <input type="hidden" id="error" value="@Localizer[ViewData["error"].ToString()]" />
}
@if (ViewData["success"] != null)
{
    <input type="hidden" id="success" value="@Localizer[ViewData["success"].ToString()]" />
}

<div class="page_title" data-stellar-background-ratio="0" data-stellar-vertical-offset="0"
     style="background-image:url(http://cosmocarrentals.com/images/pitons_tagline.jpg);">
    <ul>
        <li><a href="javascript:;">@Localizer["PersonalData"]</a></li>
    </ul>
</div>

<section class="travel_section pb-50 pt-50" style="min-height:500px;">
    <div class="container">
        <div class="row">
            <div id="profilePhoto" class="col-lg-5 col-md-5 col-sm-8 col-xs-12 ">
                <div class="row" style="padding-left: 30%">
                    <div class="hive offer_hex_item">
                        <div class="hex outer-hex">
                            <div class="hex-in1">
                                <div class="hex-in2 outer-hex">
                                    <div class="hex inner-hex">
                                        <div class="hex-in1">
                                            <div class="hex-in2 hex-area">
                                                <div class="hive offer_hex_item_overlay">
                                                    <div class="hex outer-hex">
                                                        <div class="hex-in1">
                                                            <div class="hex-in2 outer-hex">
                                                                <div class="hex inner-hex">
                                                                    <div class="hex-in1">
                                                                        <div class="hex-in2 hex-area"
                                                                             style="background-image: url(@Url.Content("../uploads/person.png"))">

                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- end Blog item overlay -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="padding-left: 25%">
                    <div class="full_width check_lists col-md padding_top" >
                        <!--<div class="pull_left btn_left" style="margin-bottom:30px;">
                <a href="#" class="btn_green gallery_btn">@Localizer["UpdatePhoto"]</a>
            </div>-->
                        <ul>
                            @if (Model.PhoneConfirmed)
                            {
                                <li><label style="width: 100% !important">@Localizer["PhoneConfirmed"]</label></li>
                            }
                            @if (Model.EmailConfirmed)
                            {
                                <li><label style="width: 100% !important">@Localizer["EmailConfirmed"]</label> </li>
                            }
                        </ul>

                    </div>
                </div>
            </div>
                <div class="col-lg-7 col-md-7 col-sm-12 Travelite_about_right_side">
                    <div class="right_side_details">
                        <div class="inner_content">
                            <div class="inner_title"><h4>@Localizer["AboutMe"]</h4></div>
                            <p style="padding-top: 0px">
                                @if (Model.AboutMe != null)
                                {
                                    @Model.AboutMe
                                }
                            </p>
                        </div>
                        <div class="payment_table_package">
                            <table class="table">
                                <tr>
                                    <td>@Localizer["UserNamePlaceholder"]:</td>
                                    <td>@Model.UserName</td>
                                </tr>
                                <tr>
                                    <td>@Localizer["PhonePlaceholder"]:</td>
                                    <td>@Model.Phone</td>
                                </tr>
                                <tr>
                                    <td>@Localizer["EmailPlaceholder"]: </td>
                                    <td>@Model.Email</td>
                                </tr>
                                <tr>
                                    <td>@Localizer["DOBPlaceholder"]:</td>
                                    <td>
                                        @if (Model.DOB == null)
                                        {
                                            @Localizer["NotSpecified"]
                                        }
                                        else
                                        {
                                            @Model.DOB.Value.ToString("d")
                                        }
                                    </td>
                                </tr>
                                <tr>
                                    <td>@Localizer["AddressPlaceholder"]:</td>
                                    <td>
                                        @if (Model.Address == null)
                                        {
                                            @Localizer["NotSpecified"]
                                        }
                                        else
                                        {
                                            @Model.Address
                                        }
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <a href="/User/Update" class="submit_query btn-yellow btns"> @Localizer["EditProfile"]</a>
                        <a href="/User/ChangePassword" class="btn_change_pass submit_query btn-yellow btns" > @Localizer["ChangePassword"]</a>
                    </div>
                </div>
            </div>
    </div>
</section>


@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script>
        var err = $('#error').val();
        var success = $('#success').val();
        if (err) {
            toastr.error(err);

        }
        if (success) {
            toastr.success(success);

        }
    </script>
}
