﻿@model RentalHousing.WEB.Models.User.UserUpdateViewModel
@inject RentalHousing.WEB.Resources.SharedViewLocalizer Localizer
@{

    Layout = "_LayoutHome";
    ViewData["Title"] = Localizer["EditProfile"];
}

@if (ViewData["error"] != null)
{
    <input type="hidden" id="error" value="@Localizer[@ViewData["error"].ToString()]" />
}

<div class="full_width destinaion_sorting_section" style="background: url(@Url.Content("../images/bg.jpg"));">
    <div class="main_content_area flight_inner_section" style="margin-top: 50px;">
        <!-- inner_container Start -->
        <div class="inner_container" style="margin-top: 50px;display:flex;justify-content:center;">
            <div class="tab_inner_section col-lg-6 col-md-8">
                <div class="heading_tab_inner">
                    <h5>@Localizer["EditProfile"]</h5>
                </div>
                <div class="tab_inner_body full_width" style="padding-bottom: 0px; background: white;">
                    <div class="x-panel">
                        @using (Html.BeginForm("Update", "User", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(model => model.Id)
                            @Html.HiddenFor(model => model.EmailConfirmed)
                            @Html.HiddenFor(model => model.PhoneConfirmed)

                            <div class="form-group ">
                                <label class="control-label" asp-for="Email"> </label> *
                                @Html.TextBoxFor(model => model.Email, "", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Email, "", htmlAttributes: new { @class = "text-danger" })
                            </div>

                            <div class="form-group ">
                                <label class="control-label" asp-for="UserName"></label> *
                                @Html.TextBoxFor(model => model.UserName, "", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.UserName, "", htmlAttributes: new { @class = "text-danger" })
                            </div>

                            <div class="form-group ">
                                <label class="control-label" asp-for="Phone"></label> *
                                @Html.TextBoxFor(model => model.Phone, "", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Phone, "", htmlAttributes: new { @class = "text-danger" })
                            </div>

                            <div class="form-group ">
                                <label class="control-label" asp-for="DOB"></label>
                                @(Html.DevExtreme().DateBox()
                                .Name("DOB")
                                .Type(DateBoxType.Date)
                                .Value(Model.DOB))
                                @Html.ValidationMessageFor(model => model.DOB, "", htmlAttributes: new { @class = "text-danger" })
                            </div>

                            <div class="form-group">
                                <label class="control-label" asp-for="Address"></label>
                                @Html.TextBoxFor(model => model.Address, "", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Address, "", htmlAttributes: new { @class = "text-danger" })
                            </div>

                            <div class="form-group">
                                <label class="control-label" asp-for="AboutMe"></label>
                                @Html.TextAreaFor(model => model.AboutMe, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.AboutMe, "", htmlAttributes: new { @class = "text-danger" })
                            </div>

                            <div class="ln_solid"></div>

                            <div class="form-button">
                                <input type="submit" style="width:200px" value=" @Localizer["Edit"]" class="btn_green proceed_buttton btns">
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    @section Scripts {
        @await Html.PartialAsync("_ValidationScriptsPartial")
        <script type="text/javascript" src="~/js/views/User/Update.js"></script>
    }
