﻿@model RentalHousing.WEB.Models.User.UserProfileViewModel
@inject RentalHousing.WEB.Resources.SharedViewLocalizer Localizer
@{
    if(!User.Identity.IsAuthenticated) {
        Layout = "_LayoutGuest";
    }
    else
    {
        Layout = "_LayoutHome";
    }
    ViewData["Title"] = @Localizer["Profile"];
}

@if (ViewData["error"] != null)
{
    <input type="hidden" id="error" value="@Localizer[@ViewData["error"].ToString()]" />
}

<div class="page_title" data-stellar-background-ratio="0" data-stellar-vertical-offset="0"
     style="background-image:url(http://cosmocarrentals.com/images/pitons_tagline.jpg);">
    <ul>
        <li><a href="javascript:;">@Localizer["PersonalData"]</a></li>
    </ul>
</div>

<section class="travel_section pb-50 pt-50" style="min-height:382px;">
    <div class="container">
        <div class="row vertic_horiz_center">
            <div class="col-lg-12 col-md-12 col-sm-12 vertic_horiz_center">
                <div class="hive offer_hex_item" style="margin:0 !important">
                    <div class="hex outer-hex">
                        <div class="hex-in1">
                            <div class="hex-in2 outer-hex">
                                <div class="hex inner-hex">
                                    <div class="hex-in1">
                                        <div class="hex-in2 hex-area">
                                            <div class="hive offer_hex_item_overlay">
                                                <div class="hex outer-hex">
                                                    <div class="hex-in1">
                                                        <div class="hex-in2 outer-hex">
                                                            <div class="hex inner-hex">
                                                                <div class="hex-in1">
                                                                    <div class="hex-in2 hex-area"
                                                                         style="background-image: url(@Url.Content("~/uploads/person.png")">

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @if (Model.PhoneConfirmed || Model.EmailConfirmed)
            {
                <div class="col-lg-12 col-md-12 col-sm-12 check_lists padding_top vertic_horiz_center" >
                    <ul>
                        @if (Model.PhoneConfirmed)
                        {
                            <li><label>@Localizer["PhoneConfirmed"]</label></li>
                        }
                        @if (Model.EmailConfirmed)
                        {
                            <li><label>@Localizer["EmailConfirmed"]</label> </li>
                        }
                    </ul>
                </div>
            }
            <div class="col-lg-9 col-md-12 col-sm-12 padding_mobile_0">
                <div class="full_width hotel_details_mdl_tab" id="Travelite_middle_tabs" style="background-color: white;">
                    <div class="pcg_tabs_panel">
                        <ul>
                            <li> <a href="#tab_search_1">@Localizer["UserAds"]</a></li>
                            <li> <a href="#tab_search_2">@Localizer["MoreInfomation"]</a></li>
                        </ul>
                    </div>
                    <div id="tab_search_1" class="tab_details_part hotel_details_tab">
                        <div class="inner_content padding_top" style="background-color: white;">
                            <div class="tour_packages_right_section left_space_40">
                                <div class="full_width hotel_list_sorting padding_top">
                                    @foreach (var h in Model.Houses)
                                    {
                                        <div class="sorting_places_wrap  list_sorting_view">
                                            <div class="col-lg-5 col-md-5 col-sm-5 padding_none">
                                                <div class="thumb_wrape">
                                                    <a href="#">
                                                        <img src="@Url.Content(h.MainImgUrl)" alt="hotel thumb">
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="col-lg-7 col-md-7 col-sm-7">
                                                <div class="flight_grid_desc flight_list_desc">
                                                    <div class="bottom_title">
                                                        <h5><a href="#">@h.AdHeadline</a></h5>
                                                        <div class="right_span"><span class="doller">@h.PriceNight$</span><br /><span>@Localizer["PersonCost"]</span></div>
                                                    </div>
                                                    <div class="flight_details_schedule">
                                                        <div class="take_off_landing">
                                                            <h5>@Localizer["TypeofHousing"]</h5>
                                                            <p>@Localizer["TypeofHousing" + ((int)h.TypeOfHousing).ToString()]</p>
                                                        </div>
                                                        <div class="take_off_landing">
                                                            <h5>@Localizer["CreationDate"]</h5>
                                                            <p>@h.CreationDate.ToString("d")</p>
                                                        </div>
                                                    </div>
                                                    <div class="total_time_schedule">@h.Address</div>
                                                    <div class="list_button">
                                                        <a href="/Housing/GetForBooking?housingId=@h.Id" class="btns">
                                                            @Localizer["SeeAllHousing"]
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }

                                    <!-- pagination section -->
                                    <div class="full_width pagination_bottom">
                                        <ul class="pagination">
                                            <li><a href="/Home/UserProfile?userId=@Model.Id&page=1">1</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="tab_search_2" class="tab_details_part hotel_details_tab">
                        <div class="inner_content" style="background-color: white;">
                            <div class="inner_title">@Localizer["O"] @Model.UserName</div>
                            <p>
                                @Model.AboutMe
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>


@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script>
        var err = $('#error').val();
        if (err) {
            toastr.error(err);
        }
    </script>
}
