﻿a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

.dx-tooltip-appointment-item-delete-button-container {
    display: none !important;
}

@media(min-width: 600px) {
    .btn_change_pass {
        margin-top: 0px;
        margin-left: 10px;
    }

@media (max-width: 700px) {
    .travel_logo > a > img {
        padding: 0;
    }
}

@media (min-width: 701px) {
    .travel_logo > a > img {
        padding: 6px;
    }
}

@media(max-width: 600px) {
    .btn_change_pass {
        margin-top: 10px;
        margin-left: 0px;
    }
}

    html {
        font-size: 14px;
    }

    .vertic_horiz_center {
        display: flex;
        justify-content: center;
    }
    /* get/booking*/

    .comment-block {
        border: 1px solid #fdb714;
        padding: 20px 40px;
    }

    .info-title {
        text-align: center;
        color: #2c3e50;
        font-size: 24px;
        text-transform: uppercase;
        border-bottom: 1px solid #ebebeb;
        padding-bottom: 20px;
        padding-top: 15px;
    }

    /*end get booking*/
    /* get for booking */
    .booking_section {
        background: #fff;
        border: 1px solid #e4e2e2;
        padding: 30px 35px;
        box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
        float: left;
        width: 100%;
    }

    .booking_inner_block {
        float: left;
        width: 100%;
        margin-bottom: 15px;
    }

    @media(min-width: 1200px) {
        .booking_inner_block .check_in_field {
            width: 220px;
        }

        .marg_right {
            margin-right: 20%;
        }

        .booking_inner_block button {
            margin-top: 15px;
        }
    }

    @media(max-width: 1200px) and (min-width: 992px) {
        .booking_inner_block .check_in_field {
            width: 200px;
        }

        .marg_right {
            margin-right: 20%;
        }

        .booking_inner_block button {
            margin-top: 15px;
        }
    }

    @media(max-width: 991px) {
        .booking_inner_block .check_in_field {
            width: 100%;
            margin: 10px 0px;
        }

        .booking_inner_block button {
            margin-top: 0px;
        }
    }

    .booking_inner_block .check_in_field label {
        text-transform: uppercase;
        color: #2b2b2b;
        font-family: Montserrat;
        font-weight: 400;
        padding-bottom: 3px;
        width: 100%;
    }

    /* end get for booking */

    /*Get Users Housing */
    .travel_section {
        padding-top: 50px;
        padding-bottom: 50px;
        display: flex;
        justify-content: center;
        background: url(../images/bg.jpg);
    }

    @media(max-width: 500px) {
        .travel_section {
            padding: 20px 25px !important;
        }

        .about_housing {
            width: 100%;
        }

        .right_side_details {
            padding: 0px 5px !important;
        }

        .hotel_details_mdl_tab .tab_details_part {
            padding: 0 !important;
        }

            .hotel_details_mdl_tab .tab_details_part .inner_content {
                padding: 15px !important;
            }

        #comments ol {
            margin-bottom: 0 !important;
        }

            #comments ol li {
                padding-left: 0px !important;
            }

                #comments ol li > div > .article .gravatar {
                    padding-left: 20px;
                }

                #comments ol li > div > .article .comment-body .comment-date {
                    right: 0px !important;
                }
    }

    .about_housing {
        margin: 20px 60px;
        max-width: 1000px;
        border: 1px solid #fdb714;
        background-color: white;
    }

    .toolbar_block a {
        border: 1px solid #86b817;
        padding: 5px 10px;
        margin-right: 10px;
    }

    .toolbar_block {
        margin: 15px 0px;
    }

    .table_housing ul li p {
        font-family: Lato;
    }

    .table_housing ul li label {
        font-size: 16px;
        color: #333333;
        text-transform: capitalize;
    }

        .table_housing ul li label:before {
            content: "\f046";
            display: inline-block;
            font: normal normal normal 14px/1 FontAwesome;
            font-size: inherit;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            transform: translate(0, 0);
            color: #86b817;
            margin-right: 10px;
        }

    .right_side_details {
        padding: 20px 30px;
    }

    .title_text {
        text-align: center;
        color: #2c3e50;
        font-size: 16px;
        text-transform: uppercase;
        border-bottom: 1px solid #fdb714;
        padding-bottom: 5px;
        margin-bottom: 15px;
        background-color: antiquewhite;
        padding-top: 15px;
    }

    .table_housing {
        margin-bottom: 45px;
    }

    .check_lists {
        min-height: 35px !important;
    }

    .hotel_details_mdl_tab .tab_details_part .inner_content {
        padding: 25px;
        background-color: antiquewhite;
    }

    /*End get users housing*/


    .delete_button {
        position: absolute;
        background-color: white;
        width: 35px !important;
        font-size: 23px !important;
        margin-left: -50px;
        margin-top: 15px;
        line-height: 36px;
        height: 37px;
        border: 1px solid #86b817;
        color: #2c3e50;
        display: inline-block;
        text-align: center;
        cursor: pointer !important;
    }

        .delete_button:hover {
            box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
        }

    @media(min-width: 768px) {
        .pull-left {
            max-width: 200px;
        }
    }

    @media(max-width: 991px) and (min-width: 768px) {
        .image_holder img {
            width: 120px !important;
            height: 120px !important;
        }

        .Travelite_left_sidebar_second .widget .widgett {
            padding: 10px 10px !important;
        }

        .list_button a {
            max-width: 250px !important;
        }
    }

    @media (max-width: 767px) {
        .pull-left {
            margin-left: auto !important;
            margin-right: auto !important;
            width: 100% !important;
        }

        .hotel_feature_icons {
            margin-top: 10px !important;
        }

        .review_right {
            margin-top: 8px !important;
            font-size: 14px !important;
        }
    }

    @media (max-width: 480px) {
        .bottom_title {
            text-align: center;
        }

        .sidebar_search {
            padding: 0px 30px !important;
        }
    }

    .testimonial_img_part img, .testimonial_img_part img {
        margin-top: 0px !important;
    }

    /* Error page */
    @media (max-width: 480px) {
        .Travelite_error_heading h3 {
            font-size: 16px;
        }

        .main_center_error_wrap {
            padding: 40px 20px !important;
        }

        .Travelite_error_heading p {
            font-size: 15px !important;
            color: #808b8d !important;
            line-height: unset !important;
            margin: 18px 0px !important;
        }

        .error_text_with_icon {
            padding-top: 20px !important;
            padding-bottom: 50px !important;
        }

            .error_text_with_icon ul {
                display: grid !important;
            }

        .vehicle_img svg {
            margin: 25px 0px !important;
        }

        .home_page {
            width: 205px !important;
        }

        .error_text_with_icon ul li {
            font-size: 24px !important;
        }
    }

    /* End error page */

    /* Favourite button */
    .favourite_button {
        width: 185px;
        height: 43px;
        padding: 7px 12px;
        border-radius: 4px;
        border-width: 2px;
        border-color: #fdb714 !important;
        border-style: solid;
        box-shadow: rgba(0, 0, 0, 0.14) 0px 1px 1px 1px;
        background: rgb(255, 255, 255);
    }

        .favourite_button:hover {
            width: 184px;
            height: 45px;
            padding: 4px 8px;
            border-radius: 4px;
            border-width: 4px;
            border-color: #fdb714 !important;
            border-style: solid;
            box-shadow: rgba(0, 0, 0, 0.14) 0px 1px 1px 1px;
            background: rgb(255, 255, 255);
        }

        .favourite_button:active {
            width: 182px;
            height: 41px;
            padding: 6px 8px;
            border-radius: 4px;
            border-width: 3px;
            border-color: #fdb714 !important;
            border-style: solid;
            box-shadow: rgba(0, 0, 0, 0.14) 0px 1px 1px 1px;
            background: #f2f2f2;
        }


    .favourite_block {
        display: flex;
        align-items: center;
        display: -ms-flexbox !important;
        justify-content: center;
    }

    .favourite_icon {
        margin-right: 12px;
    }

    .favourite_text {
        color: #fdb714;
        font-weight: 600;
    }

    .widget_favourite {
        min-height: 45px;
        float: left;
        width: 100%;
        margin-top: 32px;
        margin-bottom: 5px;
        display: flex;
        justify-content: center
    }
    /* End favourite button */


    /*Confirm email page */
    @media(max-width: 767px) and (min-width: 320px) {
        .confirm_form {
            width: 90%;
            padding: 40px 20px 20px 20px;
            border-radius: 10px;
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
            background-color: white;
        }

        .pText_confirm {
            margin: 0 auto !important;
            text-align: left !important;
        }

        .confirm_form .row .main_confirm {
            margin: 15px 0px !important;
        }

        .confirm_form .row .resend_confirm {
            margin-top: 10px !important;
            margin-left: 0px !important;
        }
    }

    @media(max-width: 1100px) and (min-width: 768px) {
        .confirm_form {
            width: 70%;
            padding: 40px 42px 40px 42px;
            border-radius: 10px;
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
            background-color: white;
        }
    }

    @media(min-width: 1101px) {
        .confirm_form {
            width: 40%;
            padding: 40px 42px 40px 42px;
            border-radius: 10px;
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
            background-color: white;
        }
    }

    .confirm_form .row .main_confirm {
        text-transform: uppercase;
        padding: 14px 14px;
        display: inline-block;
        background: #fdb714;
        color: #fff;
        font: normal 13px Open Sans;
        letter-spacing: .4px;
        border-radius: 21px;
        margin-right: 20px;
        border: 1px solid transparent;
    }

    .confirm_form .row .resend_confirm {
        text-transform: uppercase;
        padding: 14px 14px;
        display: inline-block;
        background: #fdb714;
        margin-left: 20px;
        color: #fff;
        font: normal 13px Open Sans;
        letter-spacing: .4px;
        border-radius: 21px;
        margin-right: 6px;
        border: 1px solid transparent;
    }

    .confirm_form .row {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 15px 0px;
    }

    .pText_confirm {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        font-size: 16px;
        max-width: 80%;
    }

    .head_confirm {
        text-align: center;
        padding-bottom: 20px;
        font-size: 24px;
        color: #606060;
    }



    .Travelite_confirm_bg {
        background: url(../images/2.svg) no-repeat;
        background-size: cover;
    }

    .confirm_block {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        width: 100%;
    }

    /*end Confirm email page */

    @media (min-width: 1205px) {
        #home_testimonials .item:before {
            left: 0;
            content: "\f10d";
            display: inline-block;
            font: normal normal normal 190px FontAwesome;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            position: absolute;
            color: #ececec;
            letter-spacing: 0.04em;
        }



        .main_testimonials_content:before {
            top: 0% !important;
            font: normal 0px FontAwesome !important;
        }
    }

    @media(max-width: 768px) {
        .Travelite_feature_section {
            padding: 20px 0px !important;
        }
    }

    @media (min-width: 769px) {
        #home_testimonials .item {
            display: flex !important;
            align-items: center !important;
            padding: 70px 0px 67px !important;
        }

        html {
            font-size: 16px;
        }
    }

    .travel_checkbox_round label, .sidebar_form label {
        text-transform: none !important;
    }

    .selectedPage {
        background-color: #86b817 !important;
        color: white !important;
        border: 1px solid #999999 !important;
    }

    .sidebar_form label {
        color: black !important;
    }

    .sidebar_search_bar div input#sidebar_search {
        width: 100%;
        border: 1px solid #eeeeee;
        padding: 0px 20px;
        height: 32px;
        position: relative;
        color: #808b8d;
    }

    .sidebar_search_bar div {
        position: relative;
    }

    .sidebar_form span.ui-spinner input {
        background-color: white;
    }

    .sidebar_search_bar div:after {
        content: "\f002";
        display: inline-block;
        font: normal normal normal 16px FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        transform: translate(0, 0);
        position: absolute;
        top: 10px;
        right: 10px;
        color: #999999;
    }

    .border-bottom {
        border-bottom: 1px solid #e5e5e5;
    }

    .box-shadow {
        box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
    }

    button.accept-policy {
        font-size: 1rem;
        line-height: inherit;
    }

    /* Sticky footer styles
-------------------------------------------------- */
    html {
        position: relative;
        min-height: 100%;
    }

    body {
        /* Margin bottom by footer height */
        margin-bottom: 60px;
    }

    .footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        white-space: nowrap;
        /* Set the fixed height of the footer here */
        height: 60px;
        line-height: 60px; /* Vertically center the text there */
    }

    .rating {
        unicode-bidi: bidi-override;
        direction: rtl;
        font-size: 30px;
    }

        .rating span.star, .rating span.star {
            font-family: FontAwesome;
            font-weight: normal;
            font-style: normal;
            display: inline-block;
        }

            .rating span.star:hover, .rating span.star:hover {
                cursor: pointer;
            }

            .rating span.star:before, .rating span.star:before {
                content: "★";
                color: #BEC3C7;
            }

            .rating span.star:hover:before, .rating span.star:hover:before, .rating span.star:hover ~ span.star:before, .rating span.star:hover ~ span.star:before {
                content: "★";
                color: #04d5c6;
            }

            .rating span.star.active::before, .rating span.star.active::before, .rating span.star.active ~ span.star::before, .rating span.star.active ~ span.star::before {
                color: #04d5c6;
                content: "★";
            }



    .rating-result {
        width: 265px;
        margin: 0 auto;
        direction: rtl;
    }

        .rating-result span {
            padding: 0;
            font-size: 30px;
            line-height: 1;
            color: lightgrey;
            text-shadow: 1px 1px #bbb;
        }

        .rating-result > span:before {
            content: '★';
        }

        .rating-result > span.active {
            color: gold;
            text-shadow: 1px 1px #c60;
        }

    .control-label {
        margin-top: 8px;
        color: #7a7a7a;
    }

    .form-control {
        border: 1px solid #E4E4E4;
        width: 100%;
        height: 45px;
        padding: 0 15px;
        outline: none;
        margin-top: 5px;
    }

    .ln_solid {
        border-top: 1px solid #e5e5e5;
        color: #ffffff;
        background-color: #ffffff;
        height: 1px;
        margin: 20px 0;
    }

    .form-button {
        margin-bottom: 10px;
        text-align: center;
    }

    @media (max-height: 900px) and (max-width: 500px) {
        .x-panel {
            padding: 10px 20px 10px 20px;
        }
    }

    @media (min-width: 501px) {
        .x-panel {
            padding: 10px 30px 10px 30px;
        }
    }

    .form-date {
        width: 100%;
        border: 1px solid #e6e4e4;
        height: 32px;
        padding-left: 12px;
        border-radius: 0px;
        color: #b0b0b0;
        font-style: italic;
    }

    .icon-date {
        position: absolute;
        top: 28px;
        right: 0;
        background: #fdb714;
        color: #ffffff;
        width: 37px;
        height: 32px;
        text-align: center;
        line-height: 30px;
    }

    @media (max-width: 770px) {
        .tab_search_tour_booking {
            position: absolute !important;
            top: 5% !important;
        }

        .Travelite_slider_menus {
            visibility: hidden;
        }

        .custom_footer {
            margin: 15px 15px 15px 0px;
        }
    }

    /*
    Changed Travel Pro style
*/

    @media (max-width: 850px) {
        .hotel_list_sorting {
            padding-top: 0px !important;
        }

        .travel_logo a img {
            height: 45px !important;
        }
    }

    @media (max-width: 480px) {
        #tour_booking_tabs .main_content_area {
            margin-top: 0px !important;
        }
    }

    @media (min-width: 851px) {
        .hotel_list_sorting {
            padding-top: 50px !important;
        }
    }

    @media (min-width: 1200px) {

        #booking_details:after {
            left: 32% !important;
        }

        #personal_info:after {
            left: 48% !important;
        }

        #payment_info:after {
            left: 66% !important;
        }
    }

    @media (min-width: 800px) {

        #booking_details:after {
            left: 32% !important;
        }

        #personal_info:after {
            left: 47% !important;
        }

        #payment_info:after {
            left: 66% !important;
        }
    }

    .x-panel .popup_inner {
        padding: 0px !important;
    }

    .main_content_area {
        padding: 0px !important;
        border: unset !important;
    }

    .package_booking_form {
        padding: 0px !important;
    }



    .sorting_places_wrap {
        background-color: white;
    }

    .sidebar_form {
        text-align: center;
    }

    .check_lists ul li label, .payment_table_package table tr td, .btn-travel, .pcg_tabs_panel ul li a, .hotel_facility_list ul li,
    .top_menu ul li a, .bottom_title span {
        text-transform: none !important;
    }

    .top_menu {
        margin: 2% auto !important;
    }

    .pointerEvents {
        pointer-events: none !important;
        cursor: default !important;
    }

    #footer_wrapper {
        min-height: 0px !important;
        padding: 35px 0 0 0 !important;
    }

    .padding_top {
        padding-top: 0px !important;
    }

    .padding_top50 {
        padding-top: 50px !important;
    }

    .padding_bottom {
        padding-bottom: 50px !important;
    }

    @media (max-width: 500px) and (min-width: 300px) {
        .padding_left100 {
            padding-left: 25% !important;
        }

        .padding_mobile_0 {
            padding: 0 !important;
        }
    }

    @media (max-width: 1199px) and (min-width: 768px) {
        .sidebar_form .select_field {
            width: 100% !important;
            margin-right: 0px !important;
        }
    }

    @media (max-width: 800px) and (min-width: 768px) {
        .package_details_slider .owl-nav .owl-prev {
            left: 85% !important;
        }
    }

    @media (min-width: 761px) {
        .padding_left13_comment {
            padding-left: 13px !important;
        }
    }

    @media (max-width: 799px) and (min-width: 300px) {
        .padding_left0_comment {
            padding-left: 0px !important;
        }
    }

    @media (min-width: 1000px) {
        .seeall_submit {
            margin-left: 150px !important;
            margin-top: 27px !important;
        }
    }

    .flight_booking_tab a {
        color: #494ecc !important;
        text-decoration: none; /* Убираем подчеркивание у ссылок */
    }

        .flight_booking_tab a:hover {
            color: #d12626 !important;
            text-decoration: underline; /* Добавляем подчеркивание  при наведении курсора мыши на ссылку */
        }