﻿@inject RentalHousing.WEB.Resources.SharedViewLocalizer Localizer
@model int
@{
    Layout = "_Layout";
    ViewData["Title"] = Localizer["ConfirmEmail"];
}

<div class="confirm_block Travelite_confirm_bg">
    <div class="confirm_form">
        <div class="row">
            <img src="~/travelPro/svg/rent1.svg" width="50" height="50" alt="logo" />
        </div>
        <p class="head_confirm">@Localizer["ConfirmEmail"]</p>
        <p class="pText_confirm">@Localizer["CheckEmail"]</p>
        <div class="row">
            <a href="/GuestHome/Index" class="main_confirm"> @Localizer["MainPage"]</a>
            <button onclick="sendMail(@Model, '@Localizer["Success"]', '@Localizer["EmailSend"]', '@Localizer["Error"]')" class="resend_confirm"> @Localizer["ResendEmail"]</button>
        </div>
    </div>
</div>

<script type="text/javascript" src="~/js/views/Account/ResendEmail.js"></script>
