﻿@inject RentalHousing.WEB.Resources.SharedViewLocalizer Localizer
@model Common.Error.ErrorModel
@{
    Layout = "_Layout";
    ViewData["Title"] = Localizer["ConfirmEmail"];
}

@if (Model == null)
{
    <div class="confirm_block Travelite_confirm_bg">
        <div class="confirm_form">
            <p class="head_confirm">@Localizer["Thanks!"]</p>
            <p class="pText_confirm">@Localizer["SuccessfulConfirmation"]</p>
            <div class="row">
                <a href="/Account/Login" class="main_confirm"> @Localizer["SignIn"]</a>
            </div>
        </div>
    </div>
}
