﻿@model RentalHousing.WEB.Models.Account.LogInViewModel
@inject RentalHousing.WEB.Resources.SharedViewLocalizer Localizer
@{

    Layout = "_LayoutGuest";
    ViewData["Title"] = Localizer["Enter"];
}

@if (ViewData["error"] != null)
{
    <input type="hidden" id="error" value="@Localizer[ViewData["error"].ToString()]" />
}

<div class="full_width destinaion_sorting_section" style="background: url(@Url.Content("../images/bg.jpg"));">
    <div class="row" style="margin:8% 15px;">
        <div class="container">
            <div class="col-md-4 col-lg-4 col-sm-4  col-lg-offset-4 col-sm-offset-4"></div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-lg-offset-4 col-sm-offset-4" style="box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, 0.16); background-color: white">
                <div class="login_heading">
                    @Localizer["Enter"]
                </div>
                <div class="popup_inner" style="padding-bottom: 0px;">
                    @using (Html.BeginForm("Login", "Account", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <div class="row">
                            @Html.TextBoxFor(model => model.UserEmail, "", new { @placeholder = @Localizer["EmailPlaceholder"], @class = "input_login" })
                            @Html.ValidationMessageFor(model => model.UserEmail, "", htmlAttributes: new { @class = "text-danger" })
                        </div>
                        <div class="row">
                            @Html.PasswordFor(model => model.UserPassword, new { @class = "input_login", @placeholder = @Localizer["PasswordPlaceholder"] })
                            @Html.ValidationMessageFor(model => model.UserPassword, "", htmlAttributes: new { @class = "text-danger" })
                        </div>

                        <a href="#" class="forgot_link" style="margin-top: 5px;">@Localizer["ForgetPassword"]</a>
                        <input type="submit" value=" @Localizer["SignIn"]" class="sub_signup">
                    }
                    <div class="have_an_acnt">
                        <p>@Localizer["DontHaveAnAccount"]<a href="/Account/Register">@Localizer["SignUp"]</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    @section Scripts {
        @await Html.PartialAsync("_ValidationScriptsPartial")
        <script>
            var err = $('#error').val();
            if (err) {
                toastr.options.timeOut = 3000000; 
                toastr.error(err);
            }
        </script>
    }
