﻿@model RentalHousing.WEB.Models.Account.RegisterViewModel
@inject RentalHousing.WEB.Resources.SharedViewLocalizer Localizer
@{
    Layout = "_LayoutGuest";
    ViewData["Title"] = @Localizer["Register"];
}

@if (ViewData["error"] != null)
{
    <input type="hidden" id="error" value="@Localizer[@ViewData["error"].ToString()]" />
}

<div class="full_width destinaion_sorting_section" style="background: url(@Url.Content("../images/bg.jpg"));">
    <div class="row" style="margin:30px 15px">
        <div class="container">
            <div class="col-md-4 col-lg-4 col-sm-4  col-lg-offset-4 col-sm-offset-4"></div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-lg-offset-4 col-sm-offset-4" style="box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, 0.16); background-color:white">
                <div class="login_heading">
                    @Localizer["SignUp"]
                </div>
                <div class="popup_inner">
                    @using (Html.BeginForm("Register", "Account", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(model => model.ReturnUrl)
                        <div class="row">
                            @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "input_login", placeholder = Localizer["UserNamePlaceholder"] } })
                            @Html.ValidationMessageFor(model => model.UserName, "", htmlAttributes: new { @class = "text-danger" })
                        </div>
                        <div class="row">
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "input_login", placeholder = Localizer["EmailPlaceholder"] } })
                            @Html.ValidationMessageFor(model => model.Email, "", htmlAttributes: new { @class = "text-danger" })
                        </div>
                        <div class="row">
                            @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "input_login", placeholder = Localizer["PhonePlaceholder"] } })
                            @Html.ValidationMessageFor(model => model.Phone, "", htmlAttributes: new { @class = "text-danger" })
                        </div>
                        <div class="row">
                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "input_login", placeholder = Localizer["PasswordPlaceholder"] } })
                            @Html.ValidationMessageFor(model => model.Password, "", htmlAttributes: new { @class = "text-danger" })
                        </div>
                        <div class="row">
                            @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "input_login", placeholder = Localizer["ConfirmPasswordPlaceholder"] } })
                            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", htmlAttributes: new { @class = "text-danger" })
                        </div>
                        <input type="checkbox" id="signup_check" name="checkbox" class="checkbox_login">
                        <label for="signup_check" class="remember_me"> @Localizer["Iagree"] </label>
                        <input type="submit" value=" @Localizer["SignUp"]" class="sub_signup">
                    }

                    <div class="already_member">@Localizer["AlreadyMember"]<a href="/Account/Login">@Localizer["LoginHere"]</a></div>
                </div>
            </div>
        </div>
    </div>
    </div>

    @section Scripts {
        @await Html.PartialAsync("_ValidationScriptsPartial")
        <script>
            var err = $('#error').val();
            if (err) {
                toastr.error(err);
            }
        </script>
    }
