﻿@inject RentalHousing.WEB.Resources.SharedViewLocalizer Localizer
@{
    Layout = "_LayoutGuest";
}

<div id="content_wrapper">
    <!--page title start-->
    <div class="page_title" data-stellar-background-ratio="0" data-stellar-vertical-offset="0"
         style="background-image:url(http://cosmocarrentals.com/images/pitons_tagline.jpg);">
        <ul>
            <li><a href="javascript:;">@Localizer["OurHistory"]</a></li>
        </ul>
    </div>
    <!--page title end-->
    <div class="clearfix"></div>

    <!-- traveller story section start -->
    <section class="full_width ds_traveller_story">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 Travelite_about_right_side">
                    <div class="right_side_details">
                        <h3><b class="traveller_text_b">@Localizer["AboutUs"]</b></h3>
                        <p>
                            @Localizer["AboutProject"]
                        </p>
                    </div>

                </div>
            </div>

        </div>
    </section>
</div>