﻿@model RentalHousing.WEB.Models.Booking.BookingIndexViewModel
@inject RentalHousing.WEB.Resources.SharedViewLocalizer Localizer
@{

    Layout = "_LayoutHome";
    ViewData["Title"] = Localizer["Booking"];
}

@if (ViewData["error"] != null)
{
    <input type="hidden" id="error" value="@Localizer[@ViewData["error"].ToString()]" />
}

<div id="content_wrapper">
    <div class="page_title" data-stellar-background-ratio="0" data-stellar-vertical-offset="0"
         style="background-image:url(http://cosmocarrentals.com/images/pitons_tagline.jpg);">
        <ul>
            <li><a href="javascript:;">@Localizer["Booking"] </a></li>
        </ul>
    </div>
    <div class="clearfix"></div>

    <div class="full_width destinaion_sorting_section">
        <div class="container">
            <div class="row space_100 padding_top50 padding_bottom">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="flight_package_details col-lg-12 col-md-12">
                        <div class="flight_grid_desc">
                            <div class="bottom_title">
                                <h5><a href="/Housing/GetForBooking?housingId=@Model.HousingId">@Model.Housing.AdHeadline</a></h5>
                                /<span class="flight_details"> @Localizer["TypeofHousing" + ((int)Model.Housing.TypeOfHousing).ToString()]</span>
                                <div class="right_span"><span class="doller">@Model.Cost $</span><br /></div>
                            </div>
                            <div class="total_time_schedule" style="font-size:medium; color: black; text-align:unset;">
                                @Localizer["AddressPlaceholder"] - @Model.Housing.Address
                                <div class="list_button" style="float: right; width: 5%;" >
                                    <a href="/Booking/Delete?bookingId=@Model.Id" class="btns" style="width: 35px; font-size: 23px; margin-top: 0px;">
                                        <i class="fa fa-trash" style="color: #86b817;" ></i>
                                    </a>
                                </div>
                            </div>
                            <div class="flight_details_schedule">
                                <div class="take_off_landing">
                                    <h5>@Localizer["StartDate"]</h5>
                                    <p>@Model.StartDate.ToString("d")</p>
                                </div>
                                <div class="take_off_landing">
                                    <h5>@Localizer["EndDate"]</h5>
                                    <p>@Model.EndDate.ToString("d")</p>
                                </div>
                            </div>
                            <div class="flight_details_schedule">
                                <div class="take_off_landing">
                                    <h5>@Model.Adults</h5>
                                    <p>@Localizer["Adult"]</p>
                                </div>
                                <div class="take_off_landing">
                                    <h5>@Model.ChildrenFrom6To17</h5>
                                    <p>@Localizer["Kid"]</p>
                                </div>
                            </div>
                            <div class="full_width hotel_details_mdl_tab" id="Travelite_middle_tabs">
                                <div class="pcg_tabs_panel">
                                    <ul>
                                        <li> <a href="#tab_search_1">@Localizer["MoreInfomation"]</a></li>
                                        <li> <a href="#tab_search_2">@Localizer["Comment"]</a></li>
                                    </ul>
                                </div>
                                <!--  tab content start -->
                                <div id="tab_search_1" class="tab_details_part hotel_details_tab padding_top">
                                    <div class="inner_content" style="background-color: white" >
                                        <div class="inner_title">@Localizer["Conveniences"]</div>
                                        <div class="hotel_facility_list">
                                            <ul>
                                                @if (Model.Housing.BathAccessories)
                                                {
                                                    <li><i class="fa fa-check-square-o"></i>@Localizer["BathAccessories"]</li>
                                                }
                                                @if (Model.Housing.Conditioner)
                                                {
                                                    <li><i class="fa fa-asterisk"></i>@Localizer["Conditioner"]</li>
                                                }
                                                @if (Model.Housing.Kitchen)
                                                {
                                                    <li><i class="fa fa-cutlery"></i>@Localizer["Kitchen"]</li>
                                                }
                                                @if (Model.Housing.Microwave)
                                                {
                                                    <li><i class="fa fa-check-square-o"></i>@Localizer["Microwave"]</li>
                                                }
                                                @if (Model.Housing.Television)
                                                {
                                                    <li><i class="fa fa-television"></i>@Localizer["Television"]</li>
                                                }
                                                @if (Model.Housing.Wardrobe)
                                                {
                                                    <li><i class="fa fa-check-square-o"></i>@Localizer["Wardrobe"]</li>
                                                }
                                                @if (Model.Housing.WashingMachine)
                                                {
                                                    <li><i class="fa fa-check-square-o"></i>@Localizer["WashingMachine"]</li>
                                                }
                                                @if (Model.Housing.WiFi)
                                                {
                                                    <li><i class="fa fa-wifi"></i>@Localizer["WiFi"]</li>
                                                }
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div id="tab_search_2" class="tab_details_part hotel_details_tab padding_top" >
                                    <div class="inner_content" style="background-color: white">
                                        <div class="col-md-offset-2 col-lg-8 col-md-8 col-sm-12">
                                                @if (Model.Comment.Id == 0)
                                                {
                                                    await Html.RenderPartialAsync("~/Views/Comment/_AddCommentPartial.cshtml");
                                                }
                                                else
                                                {
                                                    await Html.RenderPartialAsync("~/Views/Comment/_ChangeCommentPartial.cshtml", Model.Comment);
                                                }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script>
        var err = $('#error').val();
        if (err) {
            toastr.error(err);
        }
    </script>
}