﻿@model RentalHousing.WEB.Models.Booking.PaymentViewModel
@inject RentalHousing.WEB.Resources.SharedViewLocalizer Localizer
@{

    Layout = "_LayoutHome";
    ViewData["Title"] = Localizer["Book"];
}

@if (ViewData["error"] != null)
{
    <input type="hidden" id="error" value="@Localizer[ViewData["error"].ToString()]" />
}

<div id="content_wrapper">
    <!--page title Start-->
    <div class="page_title" data-stellar-background-ratio="0" data-stellar-vertical-offset="0"
         style="background-image:url(http://cosmocarrentals.com/images/pitons_tagline.jpg);">
        <ul>
            <li><a href="javascript:;">@Localizer["PersonalAds"]</a></li>
        </ul>
    </div>
    <div class="clearfix"></div>
    <div class="full_width destinaion_sorting_section">
        <div class="container">
            <div class="row space_100">
                <div class="col-lg-12">
                    <div id="payment_info" class="main_content_area flight_inner_section">
                        <div class="inner_container">
                            <div class="tab_inner_section hotel_inner_section">
                                <div class="heading_tab_inner">
                                    <h5>payment method</h5>
                                </div>
                                <div class="tab_inner_body full_width">
                                    <div class="payment_mathod_tabs" id="payment_vertical_tabs">
                                        <div class="payment_vertical_tabs">
                                            <ul>
                                                <li><a href="#credit_card">credit card</a></li>
                                            </ul>
                                        </div>
                                        <div id="credit_card" class="vertical_tab_content">
                                            <div class="inner_body_payment">
                                                <form class="payment_method_form" asp-action="Pay" asp-controller="Booking" method="post">
                                                    <input value="@Model.BookingId" type="hidden" name="bookingId" />
                                                    <label style="font-size: large; color: black;">@Localizer["PayCost"] : @Model.Cost $</label>
                                                    <fieldset>
                                                        <label>Card Holder’s Name (please enter the same name which is written on your card)</label>
                                                        <input type="text" placeholder="Name On Card" class="input_card">
                                                    </fieldset>
                                                    <fieldset>
                                                        <label>Credit Card Number</label>
                                                        <input type="text" placeholder="Name On Card" class="input_credit_card">
                                                    </fieldset>
                                                    <fieldset>
                                                        <div class="select_tabs">
                                                            <label>Expiry Date</label>
                                                            <select>
                                                                <option>month</option>
                                                                <option>january</option>
                                                                <option>fabuary</option>
                                                                <option>march</option>
                                                                <option>april</option>
                                                                <option>may</option>
                                                                <option>june</option>
                                                                <option>july</option>
                                                                <option>august</option>
                                                                <option>september</option>
                                                                <option>november</option>
                                                                <option>december</option>
                                                            </select>
                                                            <select>
                                                                <option>year</option>
                                                                <option>2010</option>
                                                                <option>2011</option>
                                                                <option>2012</option>
                                                                <option>2013</option>
                                                                <option>2014</option>
                                                                <option>2015</option>
                                                                <option>2016</option>
                                                            </select>
                                                        </div>
                                                        <div class="cvv_input">
                                                            <label>CVV</label>
                                                            <input type="text" class="cvv">
                                                        </div>
                                                    </fieldset>
                                                    <div class="checkbox_section">
                                                        <button type="submit" value="proceed payment" class="btn_green proceed_buttton btns" style="margin: 0px 0px;"> proceed payment </button>
                                                        <div class="pull-right book_now_btn" style="float: none !important;">
                                                            <a href="/Booking/Cancel?bookingId=@Model.BookingId" class="btn-green btn-travel" 
                                                               style=" margin-top:25px;">@Localizer["Cancel"]</a>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    @section Scripts {
        @await Html.PartialAsync("_ValidationScriptsPartial")
        <script>
            var err = $('#error').val();
            if (err) {
                toastr.options.timeOut = 3000000; 
                toastr.error(err);
            }
        </script>
    }
