﻿@inject RentalHousing.WEB.Resources.SharedViewLocalizer Localizer
@model IEnumerable<RentalHousing.WEB.Models.Comment.CommentWithUserVM>
@{
    Layout = "_LayoutHome";
    ViewData["Title"] = @Localizer["Home"];
}

@if (ViewData["error"] != null)
{
    <input type="hidden" id="error" value="@Localizer[ViewData["error"].ToString()]" />
}

<section class="content">

    <div class="slider_tab_main">
        <div class="full_width home_slider">
            <div class="example">
                <div class="content" style="width:100%; float:left;">
                    <div id="rev_slider_116_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="layer-animations"
                         style=" margin: 0px auto; background-color: transparent; padding: 0px; margin-top: 0px; margin-bottom: 0px; height: 650px !important">
                        <div id="rev_slider_116_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.0.7">
                            <ul style="width:100% !important;">
                                <li data-index="rs-392" data-transition="parallaxhorizontal" data-slotamount="default" data-easein="default" data-easeout="default" data-masterspeed="default" data-rotate="0" data-saveperformance="off" data-title="Slide Mask" data-description="">
                                    <img src="~/uploads/index3.jpg" alt="slide3" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                                </li>
                                <li data-index="rs-391" data-transition="parallaxhorizontal" data-slotamount="default" data-easein="default" data-easeout="default" data-masterspeed="default" data-rotate="0" data-saveperformance="off" data-title="Smooth Mask" data-description="">
                                    <img src="~/uploads/index1.jpg" alt="slide2" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                                </li>
                                <li data-index="rs-392" data-transition="parallaxhorizontal" data-slotamount="default" data-easein="default" data-easeout="default" data-masterspeed="default" data-rotate="0" data-saveperformance="off" data-title="Slide Mask" data-description="">
                                    <img src="~/uploads/index2.jpg" alt="slide3" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Home first slider End -->
        <div class="overlay_tabs">
            <div class="container">
                <div class="row">
                    <!--  slider_tabs_serch_start -->
                    <div class="col-lg-4 col-md-6 col-sm-6 tab_search_tour_booking">
                        <aside class="widget widget_search_availability">
                            <div id="widget_global_search_1" class="wsa_tab_content" style="padding-top: 9px;">
                                <div class="sidebar_search_bar ">
                                    @using (Html.BeginForm("Search", "Housing", FormMethod.Post))
                                    {
                                        @Html.TextBox("headline", "", new { type = "search", placeholder = Localizer["Search"], id = "sidebar_search" })
                                    }
                                </div>
                            </div>
                        </aside>

                    </div>
                    <!--  slider_tabs_serch_End -->
                </div>
            </div>
        </div>

        <div class="Travelite_slider_menus">
            <div class="container">
                <div class="slider_menus">
                    <ul>
                        @*<li><a href="#">@Localizer["RentaHousing"]</a></li>*@
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="full_width Travelite_feature_section">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6">
                    <div class="feature_box first_box">
                        <h3 class="Travelite_heading_feature">@Localizer["OurFeatures"]</h3>
                        <p>@Localizer["ReliableAndSecureService"]</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 feature_box_wrapper">
                    <div class="feature_box ">
                        <div class="feature_box_content">
                            <i class="fa fa-usd"></i>
                            <h4 class="feature_title">@Localizer["PriceGuarantee"]</h4>
                        </div>
                        <div class="feature_overlay">
                            <h4>@Localizer["PriceGuarantee"]</h4>
                            <p>@Localizer["FairPricesFromTheLandlord"] </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 feature_box_wrapper">
                    <div class="feature_box ">
                        <div class="feature_box_content">
                            <i class="fa fa-lock"></i>
                            <h4 class="feature_title">@Localizer["TrustSafety"]</h4>
                        </div>
                        <div class="feature_overlay">
                            <h4>@Localizer["TrustSafety"]</h4>
                            <p>@Localizer["TheSecurityOfYourData"]</p>
                        </div>

                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 feature_box_wrapper">
                    <div class="feature_box ">
                        <div class="feature_box_content">
                            <i class="fa fa-thumbs-up"></i>
                            <h4 class="feature_title">@Localizer["GoodReputation"]</h4>
                        </div>
                        <div class="feature_overlay">
                            <h4>@Localizer["GoodReputation"]</h4>
                            <p>@Localizer["OurCompanyHasThousands"]</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="full_width testimonials_section_home">
        <div class="container">
            <div class="row">
                <div id="home_testimonials" class="owl-carousel owl-theme">
                    @foreach (var comment in Model)
                    {
                        <div class="item">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 pad_z">
                                <div class="main_testimonials_content">
                                    <p>
                                        @comment.Comment
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 pad_z">
                                <div class="testimonial_img_part">
                                    <img src="http://placehold.it/106x106" class="img-circle" alt="testimonial-thumb">
                                    <h4>@comment.UserName</h4>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

        <div class="full_width home_subscribe_section" style="background: #000000 url(@Url.Content("../images/messagebg.jpg"))">
            <div class="icon_circle_overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="subscribe_middle_part">
                            <h3>@Localizer["WannaKnowOurLatest"]</h3>
                            <div class="sbuscribe_widget_middle">
                                <input type="text" placeholder="@Localizer["EnterYourEmailIdHere"]" class="send_email">
                                <input type="submit" class="submit_subscribe">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>


@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script>
        var err = $('#error').val();
        if (err) {
            toastr.error(err);
        }
    </script>
}