﻿@model RentalHousing.WEB.Models.Home.MyAdsViewModel
@inject RentalHousing.WEB.Resources.SharedViewLocalizer Localizer
@{
    Layout = "_LayoutHome";
    ViewData["Title"] = Localizer["PersonalAds"];
}

<div id="content_wrapper">
    <!--page title Start-->
    <div class="page_title" data-stellar-background-ratio="0" data-stellar-vertical-offset="0" 
         style="background-image:url(http://cosmocarrentals.com/images/pitons_tagline.jpg);">
        <ul>
            <li><a href="javascript:;">@Localizer["PersonalAds"]</a></li>
        </ul>
    </div>
    <!--page title end-->
    <div class="clearfix"></div>
    <div class="full_width destinaion_sorting_section  customer_says_section" style="background: url(@Url.Content("../images/bg.jpg"));">
        <div class="container">
            <div class="row space_100 padding_top padding_bottom">
                <div class="col-lg-3 col-md-3 col-sm-12">
                    <div class="Travelite_left_sidebar flghts_left_sidebar">
                        <aside class="widget modify_search_widget_form">
                            <div class="sidebar_form">
                                <a href="/Housing/Create" class="btn-travel btn-yellow"> @Localizer["CreateNewAd"]</a>
                            </div>
                        </aside>
                    </div>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-12">
                    <div class="tour_packages_right_section left_space_40" style="min-height: 400px">
                        <div class="full_width hotel_list_sorting">
                            @if (Model.Houses.Count() == 0)
                            {
                                @Localizer["HaveNotHouses"]
                            }
                            else
                            {
                                @foreach (var h in Model.Houses)
                                {
                                    <div class="sorting_places_wrap  list_sorting_view">
                                        <div class="col-lg-5 col-md-5 col-sm-5 padding_none">
                                            <div class="thumb_wrape">
                                                <a href="#">
                                                    <img src="@Url.Content(h.MainImgUrl)" alt="hotel thumb">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-lg-7 col-md-7 col-sm-7">
                                            <div class="flight_grid_desc flight_list_desc">
                                                <div class="bottom_title">
                                                    <h5><a href="/Housing/GetForBooking?housingId=@h.Id" target="_blank">@h.AdHeadline</a></h5>
                                                    <div class="right_span"><span class="doller">@h.PriceNight$</span><br /><span>@Localizer["PersonCost"]</span></div>
                                                </div>
                                                <div class="flight_details_schedule">
                                                    <div class="take_off_landing">
                                                        <h5>@Localizer["TypeofHousing"]</h5>
                                                        <p>@Localizer["TypeofHousing" + ((int)h.TypeOfHousing).ToString()]</p>
                                                    </div>
                                                    <div class="take_off_landing">
                                                        <h5>@Localizer["CreationDate"]</h5>
                                                        <p>@h.CreationDate.ToString("d")</p>
                                                    </div>
                                                </div>
                                                <div class="total_time_schedule">@h.Address</div>
                                                <div class="list_button">
                                                    <a href="/Housing/GetUsersHousing?housingId=@h.Id" target="_blank" class="btns">
                                                        @Localizer["SeeAllHousing"]
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }

                                <div class="full_width pagination_bottom">
                                    <ul class="pagination">
                                        @for (int count = Model.Page; count <= (Model.Houses.Count() / 20) + 1 && count <= 10; count++)
                                        {
                                            @if (count == Model.Page)
                                            {
                                                <li><a class="aPage selectedPage">@count</a></li>
                                            }
                                            else
                                            {
                                                <li><a class="aPage">@count</a></li>
                                            }
                                        }
                                    </ul>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

