﻿@model RentalHousing.WEB.Models.Home.MyBookingsViewModel
@inject RentalHousing.WEB.Resources.SharedViewLocalizer Localizer
@{

    Layout = "_LayoutHome";
    ViewData["Title"] = Localizer["PersonalBookings"];
}

<div class="page_title" data-stellar-background-ratio="0" data-stellar-vertical-offset="0"
     style="background-image:url(http://cosmocarrentals.com/images/pitons_tagline.jpg);">
    <ul>
        <li><a href="javascript:;">@Localizer["PersonalBookings"]</a></li>
    </ul>
</div>
<div style="background: url(@Url.Content("../images/bg.jpg")); ">
    <div class="container">
        <div class="row padding_bottom vertic_horiz_center">
            <div class="col-lg-10 col-md-10 col-sm-12" style="width: 100%; min-height: 400px">
                <div class="tour_packages_right_section left_space_40">
                    <div class="full_width hotel_list_sorting">
                        @if (Model.Bookings.Count() == 0)
                        {
                            @Localizer["HaveNotHouses"]
                        }
                        else
                        {
                            @foreach (var b in Model.Bookings)
                            {
                                <div class="sorting_places_wrap  list_sorting_view">
                                    <div class="col-lg-5 col-md-5 col-sm-5 padding_none">
                                        <div class="thumb_wrape">
                                            <a href="#">
                                                <img src="@Url.Content(b.Housing.MainImgUrl)" alt="hotel thumb">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-lg-7 col-md-7 col-sm-7">
                                        <div class="flight_grid_desc flight_list_desc">
                                            <div class="bottom_title">
                                                <h5><a href="/Housing/GetForBooking?housingId=@b.Housing.Id" target="_blank">@b.Housing.AdHeadline</a></h5>
                                                /<span class="flight_details">  @Localizer["TypeofHousing" + ((int)b.Housing.TypeOfHousing).ToString()]</span>
                                                <div class="right_span"><span class="doller">@b.Cost $</span><br /></div>
                                                <div class="bottom_review_rating">
                                                    <span class="review_right">@Localizer["StatusOfBooking" + ((int)b.Status).ToString()]</span>
                                                </div>
                                            </div>
                                            <div class="flight_details_schedule">
                                                <div class="take_off_landing">
                                                    <h5>@Localizer["StartDate"]</h5>
                                                    <p>@b.StartDate.ToString("d")</p>
                                                </div>
                                                <div class="take_off_landing">
                                                    <h5>@Localizer["EndDate"]</h5>
                                                    <p>@b.EndDate.ToString("d")</p>
                                                </div>
                                            </div>
                                            @if (b.EndDate > DateTime.Now)
                                            {
                                                <div class="total_time_schedule">@Localizer["WillEndSoon"]</div>
                                            }
                                            else
                                            {
                                                <div class="total_time_schedule">@Localizer["BookingEnd"]</div>
                                            }
                                            <div class="list_button">
                                                <a href="/Booking/Get?bookingId=@b.Id" class="btns">
                                                    @Localizer["SeeAllHousing"]
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }

                            <!-- pagination section -->
                            <div class="full_width pagination_bottom">
                                <ul class="pagination">
                                    @for (int count = Model.Page; count <= (Model.Bookings.Count() / 20) + 1 && count <= 10; count++)
                                    {
                                        @if (count == Model.Page)
                                        {
                                            <li><a class="aPage selectedPage">@count</a></li>
                                        }
                                        else
                                        {
                                            <li><a class="aPage">@count</a></li>
                                        }
                                    }
                                </ul>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>