﻿@model RentalHousing.WEB.Models.Home.MyFavouritesViewModel
@inject RentalHousing.WEB.Resources.SharedViewLocalizer Localizer
@{

    Layout = "_LayoutHome";
    ViewData["Title"] = Localizer["Favourites"];
}


<div class="page_title" data-stellar-background-ratio="0" data-stellar-vertical-offset="0"
     style="background-image:url(http://cosmocarrentals.com/images/pitons_tagline.jpg);">
    <ul>
        <li><a href="javascript:;">@Localizer["Favourites"]</a></li>
    </ul>
</div>
<div style="background: url(@Url.Content("../images/bg.jpg"));">
    <div class="container">
        <div class="row padding_bottom vertic_horiz_center">
            <div class="col-lg-9 col-md-12 col-sm-12">
                <div class="tour_packages_right_section" style="margin-top: 0px; min-height: 400px">
                    <div class="hotel_grid_sorting">
                        @if (Model.Favourites.Count() == 0)
                        {
                            @Localizer["HaveNotFavourites"]
                        }
                        else
                        {
                            @for (int i = 0; i < Model.Favourites.Count(); i += 2)
                            {
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                        <div class="sorting_places_wrap">
                                            <div style="float: right;">
                                                <a onclick="deleteFavourite(@Model.Favourites.ElementAt(i).Id, '@Localizer["DeleteFav"]', '@Localizer["Yes"]','@Localizer["No"]', '@Localizer["Deleting"]')" class="delete_button" title="@Localizer["Delete"]">
                                                    <i class="fa fa-trash" style="color: #86b817;"></i>
                                                </a>
                                            </div>
                                            <img src="@Url.Content(Model.Favourites.ElementAt(i).Housing.MainImgUrl)" alt="hotel thumb">
                                            <div class="bottom_desc">
                                                <div class="bottom_title">
                                                    <div class="pull-left">
                                                        <h5><a href="/Housing/GetForBooking?housingId=@Model.Favourites.ElementAt(i).Housing.Id" target="_blank">@Model.Favourites.ElementAt(i).Housing.AdHeadline</a></h5>
                                                        <div class="sub_city">@Localizer["TypeofHousing"] - @Localizer["TypeofHousing" + ((int)Model.Favourites.ElementAt(i).Housing.TypeOfHousing).ToString()]</div>
                                                    </div>
                                                    <div class="right_span">
                                                        <span class="doller">@Model.Favourites.ElementAt(i).Housing.PriceNight$</span><br /><span>@Localizer["PersonCost"]</span>
                                                    </div>
                                                </div>
                                                <ul class="hotel_feature_icons">
                                                    <div class="sub_city">@Model.Favourites.ElementAt(i).Housing.Address</div>
                                                </ul>
                                                <!-- desc icons End-->
                                                <div class="bottom_review_rating">
                                                    <div class="rating_bottom">
                                                        <span class="rating-result" style="font-size: 0px;">
                                                            @for (int j = 1; j <= 5; j++)
                                                            {
                                                                var starClass = "";
                                                                if (Model.Favourites.ElementAt(i).Housing.AverageEvaluation >= (float)j)
                                                                {
                                                                    starClass += " active";
                                                                }
                                                                <span data-value="@(j)" class="@starClass " style="font-size: large"> </span>
                                                            }
                                                        </span>
                                                        <span>(@Model.Favourites.ElementAt(i).Housing.AverageEvaluation)</span>
                                                    </div>
                                                    <span class="review_right"><i class="fa fa-thumbs-up"></i> @Model.Favourites.ElementAt(i).Housing.CommentAmount @Localizer["Commentariev"]</span>
                                                    <!-- review End -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    @if (i + 1 != Model.Favourites.Count())
                                    {
                                        <div class="col-lg-6 col-md-6 col-sm-6">
                                            <div class="sorting_places_wrap">
                                                <div style="float: right;">
                                                    <a onclick="deleteFavourite(@Model.Favourites.ElementAt(i+1).Id, '@Localizer["DeleteFav"]', '@Localizer["Yes"]','@Localizer["No"]', '@Localizer["Deleting"]')" class="delete_button" title="@Localizer["Delete"]">
                                                        <i class="fa fa-trash" style="color: #86b817;"></i>
                                                    </a>
                                                </div>
                                                <img src="@Url.Content(Model.Favourites.ElementAt(i+1).Housing.MainImgUrl)" alt="hotel thumb">
                                                <div class="bottom_desc">
                                                    <div class="bottom_title">
                                                        <div class="pull-left">
                                                            <h5><a href="/Housing/GetForBooking?housingId=@Model.Favourites.ElementAt(i+1).Housing.Id" target="_blank">@Model.Favourites.ElementAt(i + 1).Housing.AdHeadline</a></h5>
                                                            <div class="sub_city">@Localizer["TypeofHousing"] - @Localizer["TypeofHousing" + ((int)Model.Favourites.ElementAt(i + 1).Housing.TypeOfHousing).ToString()]</div>
                                                        </div>
                                                        <div class="right_span">
                                                            <span class="doller">@Model.Favourites.ElementAt(i + 1).Housing.PriceNight$</span><br /><span>@Localizer["PersonCost"]</span>
                                                        </div>
                                                    </div>
                                                    <ul class="hotel_feature_icons">
                                                        <div class="sub_city">@Model.Favourites.ElementAt(i + 1).Housing.Address</div>
                                                    </ul>
                                                    <!-- desc icons End-->
                                                    <div class="bottom_review_rating">
                                                        <div class="rating_bottom">
                                                            <span class="rating-result" style="font-size: 0px;">
                                                                @for (int j = 1; j <= 5; j++)
                                                                {
                                                                    var starClass = "";
                                                                    if (Model.Favourites.ElementAt(i + 1).Housing.AverageEvaluation >= (float)j)
                                                                    {
                                                                        starClass += " active";
                                                                    }
                                                                    <span data-value="@(j)" class="@starClass " style="font-size: large"> </span>
                                                                }
                                                            </span>
                                                            <span>(@Model.Favourites.ElementAt(i + 1).Housing.AverageEvaluation)</span>
                                                        </div>
                                                        <span class="review_right"><i class="fa fa-thumbs-up"></i> @Model.Favourites.ElementAt(i + 1).Housing.CommentAmount @Localizer["Commentariev"]</span>
                                                        <!-- review End -->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            }
                            <div class="full_width pagination_bottom">
                                <ul class="pagination">
                                    @for (int count = Model.Page; count <= (Model.Favourites.Count() / 20) + 1 && count <= 10; count++)
                                    {
                                        @if (count == Model.Page)
                                        {
                                            <li><a class="aPage selectedPage">@count</a></li>
                                        }
                                        else
                                        {
                                            <li><a class="aPage">@count</a></li>
                                        }
                                    }
                                </ul>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="~/js/views/Favourite/MyFavourites.js"></script>