﻿@inject RentalHousing.WEB.Resources.SharedViewLocalizer Localizer
@{

    Layout = "_LayoutHome";
    ViewData["Title"] = Localizer["Book"];
}

    <div id="content_wrapper">
        <div class="page_title" data-stellar-background-ratio="0" data-stellar-vertical-offset="0" 
             style="background-image:url(http://cosmocarrentals.com/images/pitons_tagline.jpg);">
            <ul>
                <li><a href="javascript:;">@Localizer["Success"]</a></li>
            </ul>
        </div>
        <div class="clearfix"></div>
        <div class="full_width Travelite_error_bg">
            <div class="container">
                <div class="row">
                    <div class="main_center_error_wrap">
                        <div class="Travelite_error_heading">
                            <h3>@Localizer["BookingAddSuccess"]</h3>
                            <p>@Localizer["SeeBooking"]</p>
                        </div>
                        <div class="error_next_prev_links">
                            <a href="/Home/Index" class="home_page">@Localizer["Home"]</a>
                            <a href="/Home/MyBookings" class="prev_page">@Localizer["MyBookings"]</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>